
<script>
import Chart from 'primevue/chart'
import { Constantes } from '@/js/Constantes'

export default {
  props: {
    equipos: {
      type: Object,
    },
  },
  components: { Chart },
  data() {
    return {
      chartData: null,
      chartOptions: null
    }
  },
  mounted() {
    this.chartData = this.setChartData()
    this.chartOptions = this.setChartOptions()
  },
  methods: {
    setChartData() {
      const documentStyle = getComputedStyle(document.documentElement)
      const datosEquipo1 = this.obtenerAnios().map(anio => this.obtenerEquiposTipoSubtipo(this.equiposInformaticos()[0], anio)[1])
      const datosEquipo2 = this.obtenerAnios().map(anio => this.obtenerEquiposTipoSubtipo(this.equiposInformaticos()[1], anio)[1])
      const datosEquipo3 = this.obtenerAnios().map(anio => this.obtenerEquiposTipoSubtipo(this.equiposInformaticos()[2], anio)[1])
      const datosEquipo4 = this.obtenerAnios().map(anio => this.obtenerEquiposTipoSubtipo(this.tiposEquipos()[1], anio)[0])
      const datosEquipo5 = this.obtenerAnios().map(anio => this.obtenerEquiposTipoSubtipo(this.tiposEquipos()[2], anio)[0])

      return {
        labels: this.obtenerAnios().map(anio => anio.toString()),
        datasets: [
          {
            label: this.equiposInformaticos()[0],
            data: datosEquipo1,
            fill: false,
            borderColor: this.coloresBorde()[0],
            backgroundColor: this.colores()[0],
            tension: 0.4
          },
          {
            label: this.equiposInformaticos()[1],
            data: datosEquipo2,
            fill: false,
            borderColor: this.coloresBorde()[1],
            backgroundColor: this.colores()[1],
            tension: 0.4
          },
          {
            label: this.equiposInformaticos()[2],
            data: datosEquipo3,
            fill: false,
            borderColor: this.coloresBorde()[2],
            backgroundColor: this.colores()[2],
            tension: 0.4
          },
          {
            label: this.tiposModelos()[1],
            data: datosEquipo4,
            fill: false,
            borderColor: this.coloresBorde()[3],
            backgroundColor: this.colores()[3],
            tension: 0.4
          },
          {
            label: this.tiposModelos()[2],
            data: datosEquipo5,
            fill: false,
            borderColor: this.coloresBorde()[4],
            backgroundColor: this.colores()[4],
            tension: 0.4
          }
        ]
      }
    },
    setChartOptions() {
      const documentStyle = getComputedStyle(document.documentElement)
      const textColor = documentStyle.getPropertyValue('--text-color')
      const textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary')
      const surfaceBorder = documentStyle.getPropertyValue('--surface-border')

      return {
        maintainAspectRatio: false,
        aspectRatio: 0.6,
        plugins: {
          legend: {
            color: textColor,
            labels: {
              font: {
                size: 13,
                weight: 'bold'
              }
            }
          }
        },
        scales: {
          x: {
            ticks: {
              color: textColorSecondary,
              font: {
                size: 13,
                weight: 'bold'
              }
            },
            grid: {
              color: surfaceBorder
            }
          },
          y: {
            ticks: {
              color: textColorSecondary,
              precision: 0,   
              font: {
                size: 13,
                weight: 'bold'
              },
            },
            grid: {
              color: surfaceBorder
            }
          }
        }
      }
    },
    tiposModelos() {
      return Constantes.getListaDeEquipos()
    },

    tiposEquipos() {
      return Constantes.getTiposDeEquipo()
    },
    equiposInformaticos() {
      return Constantes.getTipoEquipoInformatico()
    },
    colores() {
      return Constantes.colores()
    },
    coloresBorde() {
      return Constantes.coloresBorde()
    },
    obtenerAnios() {
      const anioActual = new Date().getFullYear()
      const anios = []

      for (let i = 9; i >= 0; i--) {
        anios.push(anioActual - i)
      }

      return anios
    },

    obtenerEquiposTipoSubtipo(tipo, anio) {
      let contadorTipo = 0
      let contadorSubtipo = 0
      this.equipos.forEach(equipo => {
        const anioAdquisicion = equipo.fechaAdquisicion.getFullYear() 
        if (equipo.tipoModelo == tipo && anioAdquisicion == anio) {
          contadorTipo++
        }
        else if (equipo.tipoEquipoInformatico == tipo && anioAdquisicion == anio) {
         contadorSubtipo++
        }
      })
      return [contadorTipo, contadorSubtipo]
    },

    refrescar() {
      this.$refs.chart.reinit()
    },
  },
}
</script>

  
<template>
  <div class="card white-background">
    <Chart ref="chart" type="line" :data="chartData" :options="chartOptions" class="h-20rem" />
  </div>
</template>
  
<style>
.white-background {
  background-color: white;
}
</style>