<script>
import Chart from 'primevue/chart'
import { Constantes } from '@/js/Constantes'

export default {
  props: {
     modelos: {
       type: Object,
     },
  },
  components: { Chart },
  data() {
    return {
      chartData: null,
      chartOptions: null
    }
  },
  mounted() {
    this.chartData = this.setChartData()
    this.chartOptions = this.setChartOptions()
  },
  methods: {
    setChartData() {
      const documentStyle = getComputedStyle(document.documentElement)
      return {
        labels: [this.tiposModelos()[0], 
                 this.tiposModelos()[1], 
                 this.tiposModelos()[2]],
        datasets: [
          {
            type: 'bar',
            label: this.equiposInformaticos()[0],
            backgroundColor: this.colores()[0],
            borderColor: this.coloresBorde()[0],
            borderWidth: 2,
            barPercentage: 0.7,
            data: [this.obtenerEquiposTipoSubtipo(this.equiposInformaticos()[0])[1]]
          },
          {
            type: 'bar',
            label: this.equiposInformaticos()[1],
            backgroundColor: this.colores()[1],
            borderColor: this.coloresBorde()[1],
            borderWidth: 2,
            barPercentage: 0.7,
            data: [this.obtenerEquiposTipoSubtipo(this.equiposInformaticos()[1])[1]]
          },
          {
            type: 'bar',
            label: this.equiposInformaticos()[2],
            backgroundColor: this.colores()[2],
            borderColor: this.coloresBorde()[2],
            borderWidth: 2,
            barPercentage: 0.7,
            data: [this.obtenerEquiposTipoSubtipo(this.equiposInformaticos()[2])[1]]
          },
          {
            type: 'bar',
            label: this.tiposModelos()[1],
            backgroundColor: this.colores()[3],
            borderColor: this.coloresBorde()[3],
            borderWidth: 2,
            barPercentage: 0.7,
            data: [0,this.obtenerEquiposTipoSubtipo(this.tiposEquipos()[1])[0],0]
          },
          {
            type: 'bar',
            label: this.tiposModelos()[2],
            backgroundColor: this.colores()[4],
            borderColor: this.coloresBorde()[4],
            borderWidth: 2,
            barPercentage: 0.7,
           data: [0,0,this.obtenerEquiposTipoSubtipo(this.tiposEquipos()[2])[0]]
          }
        ]
      }
    },

    setChartOptions() {
       const documentStyle = getComputedStyle(document.documentElement)
       const textColor = documentStyle.getPropertyValue('--text-color')
       const textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary')
       const surfaceBorder = documentStyle.getPropertyValue('--surface-border')

      return {
        maintainAspectRatio: false,
        aspectRatio: 0.8,
        plugins: {
          tooltips: {
            mode: 'index',
            intersect: false
          },
          legend: {
            labels: {
              color: textColor,
              font: {
                size: 13,
                weight: 'bold'
              },
            },
          }
        },
        scales: {
          x: {
            stacked: true,
            ticks: {
              color: textColorSecondary,
              font: {
                size: 13,
                weight: 'bold'
              },
            },
            grid: {
              color: surfaceBorder
            }
          },
          y: {
            stacked: true,
            ticks: {
              color: textColorSecondary,
              precision: 0,
              font: {
                size: 13,
                weight: 'bold'
              },
            },
            grid: {
              color: surfaceBorder
            },
            beginAtZero: true,
          }
        }
      }
    },

    tiposModelos() {
      return Constantes.getListaDeEquipos()
    },    
    tiposEquipos() {
       return Constantes.getTiposDeEquipo()
    },
    equiposInformaticos() {
      return Constantes.getTipoEquipoInformatico()
    },
    colores() {
      return Constantes.colores()
    },
    coloresBorde() {
      return Constantes.coloresBorde()
    },

    obtenerEquiposTipoSubtipo(tipo) {
      let contadorTipo = 0
      let contadorSubtipo = 0
      this.modelos.forEach(modelo => {
        if (modelo.tipoModelo == tipo) {
          contadorTipo++
        }
        else if (modelo.tipoEquipoInformatico == tipo) {
          contadorSubtipo++
        }
      })
      return [contadorTipo, contadorSubtipo]
    },

    refrescar() {
      this.$refs.chart.reinit()
    },

  },
}
</script>

<template>
  <div class="card white-background">
    <Chart ref="chart" type="bar" :data="chartData" :options="chartOptions"  class="h-20rem"/>
  </div>
</template>

<style>
.white-background {
  background-color: white;
}
</style>

