<script>
import { Constantes } from '@/js/Constantes'
import { fechaToLocaleDateString } from '@/js/utils'

export default {
  props: {
    incidencia: {
      type: Object,
    },
  },
  data() {
    return {
      indice: 0,
      fechas: ['fechaAlta', 'fechaAsignacion', 'fechaResolucion', 'fechaCierre'],
    }
  },
  computed: {
    listaDeEstados() {
      return Constantes.getEstadosDeIncidencia()
    },
  },
  methods: {
    obtenerFecha(index) {
      return index > this.indice ? null : fechaToLocaleDateString(this.incidencia[this.fechas[index]])
    },
  },
  created() {
    this.indice = this.listaDeEstados.indexOf(this.incidencia.estado)
  },
}
</script>

<template>
  <div class="">
    <Timeline :value="listaDeEstados" layout="horizontal">
      <template #marker="slotProps">
        <div class="p-timeline-event-connector relleno-conector" :class="{ 'transparente': slotProps.index == 0 }"></div>
        <span class="hito flex justify-content-center align-items-center text-white border-circle z-1 shadow-1"
          :class="slotProps.index > indice ? 'estado-no-alcanzado' : 'estado-alcanzado'">
          <i :class="slotProps.index > indice ? 'pi pi-times' : 'pi pi-verified'"></i>
        </span>
        <div class="p-timeline-event-connector relleno-conector" :class="{ 'transparente': slotProps.index == (listaDeEstados.length - 1) }"></div>
      </template>
      <template #opposite="slotProps">
        <div class="fecha">
          <small class="p-text-secondary fecha">{{ obtenerFecha(slotProps.index) }}</small>
        </div>
      </template>
      <template #content="slotProps">
        <div class="estado" :class="{ 'negrita': slotProps.index <= indice }">
          <span>
            {{ slotProps.item }}
          </span>
        </div>
      </template>
    </Timeline>
  </div>
</template>

<style>

.fecha {
  width: 4.8rem;
  text-align: center;
  height: 1rem;
  min-height: 1rem;
}

.hito {
  min-width: 2rem;
  min-height: 2rem;
}

.relleno-conector {
  width: 1.4rem !important;
  min-width: 1.4rem !important;
}

.transparente {
  background-color: inherit !important;
}

.estado {
  font-size: 0.9rem;
  max-width: 4.8rem;
  display: flex;
  justify-content: center;
}

.negrita {
  font-weight: bold;
}

.estado-alcanzado {
  background-color: #689F38;
}

.estado-no-alcanzado {
  background-color: #BBBBBB;
}
</style>