<script>
import Chart from 'primevue/chart'
import { Constantes } from '@/js/Constantes'

export default {
  props: {
    modelo: {
      type: Object,
    },
  },
  components: { Chart },
  data() {
    return {
      chartData: {
        labels: ['Stock', 'Asig Persona', 'Asig Unidad'],
        datasets: [
          {
            label: "Equipos del modelo: " + this.modelo.marca + " " + this.modelo.nombreModelo,
            data: [this.modelo.stock, this.modelo.asignadosAPersona, this.modelo.asignadosAUnidad],
            backgroundColor: [this.colores()[0], this.colores()[1], this.colores()[2]],
            borderColor:  [this.coloresBorde()[0], this.coloresBorde()[1], this.coloresBorde()[2]],
            borderWidth: 1
          }
        ]
      },
      chartOptions: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              precision: 0
            }
          },
        },
        plugins: {
          legend: {
            display: true,
            labels: {
              color: 'rgb(0,0,0)',
              boxWidth: 0
            }
          }
        }
      },

    }
  },
  methods: {
    refrescar() {
      this.$refs.chart.reinit()
    },
    colores() {
      return Constantes.colores()
    },
    coloresBorde() {
      return Constantes.coloresBorde()
    }
  },
}

</script>

<template>
  <div class="card">
    <Chart ref="chart" type="bar" :data="chartData" :options="chartOptions" />
  </div>
</template>

