<script>
import Fieldset from 'primevue/fieldset'
import Card from 'primevue/card'
import { Constantes } from '@/js/Constantes'
import { mapState } from 'pinia'
import { usePersonasStore } from '@/stores/personas'

export default {
  components: { Fieldset, Card },
  computed: {
    ...mapState(usePersonasStore, ['personaLogueada']),

    getPerfiles() {
      return Constantes.getPerfiles()
    },
    esAdminCentral() {
      return this.getPerfil() == this.getPerfiles[0]
    },
    esAdminUnidad() {
      return this.getPerfil() == this.getPerfiles[1]
    },
    esUsuario() {
      return this.getPerfil() == this.getPerfiles[2]
    },
    esResolutor() {
      return this.getPerfil() == this.getPerfiles[3]
    }
  },
  methods: {
    getPerfil() {
      return this.personaLogueada ? this.personaLogueada.perfil : null
    }
  }
}
</script>

<template>
  <div class="p-component">
    <Card class="mb-3">
      <template #title> Ayuda sistema GATEL </template>
      <template #content>
        <div class="m-0">
          Con el perfil <b> {{ this.getPerfil() }} </b> usted podrá realizar las siguientes operaciones
        </div>
      </template>
    </Card>

    <Fieldset v-if="esAdminCentral || esAdminUnidad" :collapsed="true"
      :legend="esAdminCentral ? 'Gestionar modelos' : 'Visualizar Modelos'" :toggleable="true">
      <div class="mt-0">
        Dentro del apartado <b>EQUIPOS - MODELOS</b>, podrá visualizar los <b>MODELOS </b> existentes, y crear equipos que
        pertenezcan a uno de los <b>MODELOS</b>.
        Utilice los iconos que encontrará a la derecha de cada <b>MODELO</b>.
        El stock se representa mediante un código de colores en función de las unidades disponibles.
      </div>
      <div class="img-container">
        <img v-if="esAdminCentral" src="@/assets/ayuda/Modelos_Admin_Central.png" alt="Listado de modelos de un Administrador Central" class="responsive-img">
        <img v-else src="@/assets/ayuda/Modelos_Admin_Unidad.png" alt="Listado de modelos de un Administradiro de Unidad" class="responsive-img">
      </div>
      <div class="mt-0">
        <p>Las acciones disponibles son las siguientes: </p>
        <p class="ml-5" v-if="esAdminCentral"><span class="pi pi-pencil"></span> Editar el modelo </p>
        <p class="ml-5"><span class="pi pi-info-circle"></span> Ver información del modelo </p>
        <p class="ml-5" v-if="esAdminCentral"><span class="pi pi-trash"></span> Eliminar el modelo </p>
        <p class="ml-5"><span class="pi pi-plus"></span> Creación de un equipo específico de ese modelo </p>
      </div>


    </Fieldset>

    <Fieldset v-if="esAdminCentral" :collapsed="true" legend="Creación de un nuevo modelo" :toggleable="true">
      <p class="mt-0">
        Pulse en el botón <span><img class="img-boton" src="@/assets/ayuda/Boton_Nuevo_Modelo.png"></span>
        y cumplimente el formulario con los datos requeridos. Los datos que no estén cumplimentados se marcarán en color
        <span class="texto-rojo">rojo</span>.
      </p>
      <div class="img-container-form">
        <img src="@/assets/ayuda/Formulario_Modelo.png" alt="Formulario de alta de nuevo modelo" class="responsive-img">
      </div>
    </Fieldset>

    <Fieldset v-if="esAdminCentral || esAdminUnidad" :collapsed="true" legend="Listar y gestionar Equipos"
      :toggleable="true">
      <div class="mt-0">
        Acceda a <b>EQUIPOS - INVENTARIO</b>, para visualiar todos los equipos disponibles.
        <div class="img-container">
          <img src="@/assets/ayuda/Listar_Equipos.png" alt="Listado de equipos" class="responsive-img">
        </div>
        <p>Las acciones disponibles son las siguientes: </p>
        <p class="ml-5" v-if="esAdminCentral"><span class="pi pi-pencil"></span> Vincular/desvincular el equipo </p>
        <p class="ml-5" v-if="esAdminUnidad"><span class="pi pi-pencil"></span> Desvincular el equipo </p>
        <p class="ml-5"><span class="pi pi-info-circle"></span> Ver información del equipo </p>
        <p class="ml-5"><span class="pi pi-trash"></span> Eliminar el modelo </p>
        <p class="ml-5"><span class="pi pi-wrench"></span> Reportar una incidencia sobre el equipo </p>

        <p> Información sobre un equipo: </p>
        <div class="img-container-modal">
          <img src="@/assets/ayuda/Informacion_Equipo.png" alt="Ventana modal de información de equipo" class="responsive-img">
        </div>
        Vincular/Desvincular equipo:
        <div class="img-container-modal">
          <img src="@/assets/ayuda/Vincular_Equipo.png" alt="Ventana modal para vincular equipos a personas o unidades" class="responsive-img">
        </div>
        Eliminar un equipo:
        <div class="img-container-modal">
          <img src="@/assets/ayuda/Borrar_Equipo.png" alt="Ventana modal de confirmación de borrado de equipo" class="responsive-img">
        </div>
      </div>
    </Fieldset>

    <Fieldset v-if="esUsuario" :collapsed="true" legend="Listar sus equipos" :toggleable="true">
      <div class="mt-0">
        Acceda a <b>EQUIPOS - INVENTARIO</b>, para visualiar los equipos que tiene asignados.
        <div class="img-container">
          <img src="@/assets/ayuda/Listar_Equipos_U.png" alt="Listado de los equipos que tiene asignado un usuario" class="responsive-img">
        </div>
        <p class="ml-5">Podrá realizar las siguientes acciones: </p>
        <p class="ml-5"><span class="pi pi-info-circle"></span> Ver información del equipo </p>
        <p class="ml-5"><span class="pi pi-wrench"></span> Reportar una incidencia sobre el equipo </p>
      </div>
    </Fieldset>

    <Fieldset v-if="esAdminCentral || esAdminUnidad || esUsuario" :collapsed="true"
      legend="Visualizar y Reportar Incidencias" :toggleable="true">
      <div class="mt-0">
        Pulse sobre la acción <span class="pi pi-wrench"></span> que aparece
        a la derecha del listado de <b>EQUIPOS</b> y cumplimente el formulario con los datos requeridos. Los datos que no
        estén cumplimentados se marcarán en color <span class="texto-rojo">rojo</span>.
        <div class="img-container-form">
          <img src="@/assets/ayuda/Alta_Incidencia.png" alt="Formulario de alta de nueva incidencia" class="responsive-img">
        </div>

        En el apartado <b>INCIDENCIAS </b> encontrará información sobre las incidencias de sus equipos, o de los
        equipos de usuarios de sus unidades dependientes.
        <div class="img-container">
          <img v-if="esAdminCentral || esAdminUnidad" src="@/assets/ayuda/Lista_Incidencias_AC.png" alt="Listado de incidencias"
            class="responsive-img">
        </div>

        <p>Las acciones disponibles son las siguientes: </p>
        <p v-if="esAdminCentral || esAdminUnidad" class="ml-5"> <span class="pi pi-pencil"></span> Si la incidencia está
          en estado <b>NUEVA</b>, podrá asignar un resolutor, si está en estado <b>RESUELTA</b> podrá cerrarla. Cuando
          está en estado <b>ASIGNADA</b> no puede realizar ninguna acción. </p>
        <p class="ml-5"> <span class="pi pi-info-circle"></span> Podrá ver información sobre la incidencia, los mensajes
          del resolutor (en caso de que tenga), y el estado en el que se encuentra. </p>
        <div class="img-container-form">
          <img src="@/assets/ayuda/Info_Incidencia_Cerrada.png" alt="Modal de información de una incidencia" class="responsive-img">
        </div>
      </div>
    </Fieldset>

    <Fieldset v-if="esResolutor" :collapsed="true" legend="Visualizar y gestionar las incidencias que tiene asignadas"
      :toggleable="true">
      En el apartado <b>INCIDENCIAS </b> encontrará información sobre las incidencias que le han sido asignadas, con
      indicación del estado de las mismas.
      <div class="img-container">
        <img src="@/assets/ayuda/Lista_Incidencias_R.png" alt="Listado de incidencias que el resolutor tiene asigadas" class="responsive-img">
      </div>

      <p>Las acciones disponibles son las siguientes: </p>
      <p class="ml-5"> <span class="pi pi-pencil"></span> Si la incidencia está
        en estado <b>ASIGNADA</b>, podrá añadir información sobre la incidencia o marcarla como resuelta. </p>
      <p class="ml-5"> <span class="pi pi-info-circle"></span> Podrá ver información sobre la incidencia, los mensajes
        del resolutor (en caso de que tenga), y el estado en el que se encuentra. </p>

      <p> En el caso de añadir información o marcar como resuelta, le aparecerán
        las diferentes opciones dependiendo si se trata de <b>una AVERÍA, un EXTRAVÍO o una CONFIGURACIÓN </b> </p>

      <div class="img-container-form">
        <img src="@/assets/ayuda/Anadir_Info_Incidencia.png" alt="Ventana modal para añadir información sobre el proceso de resolución de la incidencia" class="responsive-img">
      </div>
    </Fieldset>


    <Fieldset v-if="esAdminCentral || esAdminUnidad" :collapsed="true"
      :legend="esAdminCentral ? 'Visualizar Usuarios y Unidades' : 'Visualizar Usuarios'" :toggleable="true">
      <div class="mt-0">
        <p> Pulse en el apartado <b>PERSONAL/UNIDADES</b> para visualizar los usuarios dependientes de su Unidad. </p>
        <p>Al pulsar sobre cada registro, se redigirá al listado de <b>EQUIPOS</b> filtrando por el usuario
          correspondiente.</p>
        <div class="img-container">
          <img v-if="esAdminCentral" src="@/assets/ayuda/Lista_Usuarios_AC.png" alt="Listado de usuarios" class="responsive-img">
          <img v-if="esAdminUnidad" src="@/assets/ayuda/Lista_Usuarios_AU.png" alt="Listado de usuarios dependientes de la unidad" class="responsive-img">
        </div>
        <p v-if="esAdminCentral">También podrá visualizar las unidades y acceder a sus equipos pulsando en cada regitsro.
        </p>
        <div v-if="esAdminCentral" class="img-container">
          <img src="@/assets/ayuda/Lista_Unidades_AC.png" alt="Imagen" class="responsive-img">
        </div>
      </div>
    </Fieldset>

    <Fieldset v-if="esAdminCentral || esAdminUnidad" :collapsed="true" legend="Ver Estadísticas'" :toggleable="true">
      <div class="mt-0">
        Pulse sobre <b>ESTADÍSTICAS</b> para visualizar gráficos estadísticos sobre modelos, equipos e incidencias.
      </div>
    </Fieldset>

  </div>
</template>

<style scoped>
.img-container {
  max-width: 80%;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.img-container-form {
  max-width: 50%;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.img-container-modal {
  max-width: 30%;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.responsive-img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.p-fieldset {
  margin-bottom: 1rem;
}

.img-boton {
  max-height: 30px;
  width: auto;
}

.texto-rojo {
  color: red;
  font-weight: bold;
}
</style>
