<script>
import { mapActions, mapState } from 'pinia'
import { usePersonasStore } from '@/stores/personas'
import { estaAutorizado } from '@/js/filtros'

import MenuOpciones from './MenuOpciones.vue'

export default {
  components: { MenuOpciones },
  data() {
    return {
      loginStatus: true,
      opcionesMenuPrincipal: [
        { opcion: 'equipos', etiqueta: 'EQUIPOS', icono: 'pi pi-desktop' },
        { opcion: 'incidencias', etiqueta: 'INCIDENCIAS', icono: 'pi pi-exclamation-triangle' },
        { opcion: 'personalUnidades', etiqueta: 'PERSONAL/UNIDADES', icono: 'pi pi-user' },
        { opcion: 'estadisticas', etiqueta: 'ESTADÍSTICAS', icono: 'pi pi-chart-bar' },
        { opcion: 'ayuda', etiqueta: 'AYUDA', icono: 'pi pi-question-circle' }
      ],
    }
  },
  computed: {
    ...mapState(usePersonasStore, ['personaLogueada']),
    getOpcionesMenuPrincipal() {
      let opciones = []
      if (this.personaLogueada) {
        opciones = this.opcionesMenuPrincipal.filter(o => estaAutorizado('opcionesMenuPrincipal', o.opcion, this.personaLogueada.perfil))
      }
      return opciones
    }
  },
  methods: {
    ...mapActions(usePersonasStore, ['loginPersona', 'logoutPersona']),
    cerrarSesion() {
      this.logoutPersona()
      this.$router.push({ name: 'login' })
    },
    seleccionarRuta(opcion) {
      this.$router.push({ name: opcion })
    }
  },
  created() {
    if (!this.personaLogueada) {
      this.$router.push({ name: 'login' })
    } else {
      this.$router.push({ name: 'home' })
    }
  },
}
</script>

<template>
  <div>
    <div class="card">
      <div class="p-menubar flex align-items-center justify-content-between">
        <div class="logo">
          <router-link :to="{ name: 'home' }">
            <img alt="logo" src="/src/assets/logo_GATEL.png" class="mr-2 imagen-logo">
          </router-link>
          <span class="texto-logo">GATEL</span>
        </div>
        <div v-if="personaLogueada" class="flex align-items-center">
          <div class="flex flex-column mr-2 align-items-center usuario p-component">
            <span>{{ this.personaLogueada.nombre }} {{ this.personaLogueada.apellidos }}</span>
            <span v-if="personaLogueada.perfil != 'USUARIO'" class="perfil">({{ this.personaLogueada.perfil }})</span>  
          </div>
          <Button label="Cerrar Sesión" severity="success" @Click="cerrarSesion" />
        </div>
      </div>
    </div>
    <MenuOpciones v-if="personaLogueada" :opciones="getOpcionesMenuPrincipal" @opcionSeleccionada="seleccionarRuta">
    </MenuOpciones>
  </div>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

.logo {
  display: flex;
  align-items: center;
}

.texto-logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.imagen-logo {
  width: 2.5rem;
}

.usuario {
  font-weight: bold;
  min-width: 9rem;
}

.perfil {
  font-size: 0.75rem;
}
</style>