<script>

import Dialog from 'primevue/dialog'
import Button from 'primevue/button'

export default {
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    mensaje: {
      type: String,
      default: '¿Está seguro de realizar esta acción?'
    },
    etiquetaConfirmar: {
      type: String,
      default: 'Sí'
    },
    etiquetaCancelar: {
      type: String,
      default: 'No'
    },
    icono: {
      type: String,
      default: 'pi-exclamation-triangle'
    }
  },
  components: { Dialog, Button },
  emits: ['confirmar', 'cancelar'],
  data () {
    return {}
  },
  methods: {
  },
}
</script>

<template>
  <Dialog :visible="visible" :style="{ width: '450px', margin: '0.75rem' }" header="Aviso" :modal="true"
    :closable="false" >
    <div class="flex align-items-center">
      <i :class="'mr-3 icono-confirmacion pi ' + icono" />
      <span>{{ mensaje }}</span>
    </div>
    <template #footer>
      <Button v-if="etiquetaConfirmar" :label="etiquetaConfirmar" icon="pi pi-check" severity="danger" text @click="$emit('confirmar')" />
      <Button v-if="etiquetaCancelar" :label="etiquetaCancelar" icon="pi pi-times" text @click="$emit('cancelar')" />
    </template>
  </Dialog>
</template>


<style scoped>

.icono-confirmacion {
  font-size: 2rem;
  color: #D32F2F;
}
</style>
