<script>
import EstadisticasModelos from '@/components/graficos/EstadisticasModelos.vue'
import EstadisticasEquiposIncidencias from '@/components/graficos/EstadisticasEquiposIncidencias.vue'
import EstadisticasAdquisicionEquipos from '@/components/graficos/EstadisticasAdquisicionEquipos.vue'
import ProgressSpinner from 'primevue/progressspinner'
import { useModelosStore } from '@/stores/modelos'
import { useEquiposStore } from '@/stores/equipos'
import { useIncidenciasStore } from '@/stores/incidencias'
import { mapState, mapActions } from 'pinia'

export default {
  components: {
    ProgressSpinner, EstadisticasModelos, EstadisticasEquiposIncidencias,
    EstadisticasAdquisicionEquipos
  },
  data() {
    return {
      modelos: null
    }
  },

  computed: {
    ...mapState(useModelosStore, ['loadingModelosStore', 'listaModelos']),
    ...mapState(useEquiposStore, ['loadingEquiposStore', 'listaEquipos']),
    ...mapState(useIncidenciasStore, ['loadingIncidenciasStore', 'listaIncidencias']),

  },
  methods: {
    ...mapActions(useModelosStore, ['getModelos']),
    ...mapActions(useEquiposStore, ['getEquipos']),
    ...mapActions(useIncidenciasStore, ['getIncidencias']),

    eventoRedimensionar() {
      if (this.$refs.grafico3) {
        this.$refs.grafico3.refrescar()
      }
      if (this.$refs.grafico3) {
        this.$refs.grafico3.refrescar()
      }
      if (this.$refs.grafico3) {
        this.$refs.grafico3.refrescar()
      }
    },
  },
  created() {
    this.getModelos()
    this.getEquipos()
    this.getIncidencias()
    window.addEventListener("resize", this.eventoRedimensionar)
  },
  destroyed() {
    window.removeEventListener("resize", this.eventoRedimensionar)
  }
}
</script>
<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 mb-3">
          <div class="chart-title p-component p-3">
            <span>Modelos existentes en el sistema</span>
          </div>
          <div v-if="loadingModelosStore" class="spinner-container">
            <ProgressSpinner class="spinner-6" />
          </div>
          <EstadisticasModelos v-else ref="grafico1" :modelos="this.listaModelos" />
        </div>
        <div class="col-md-7 mb-3">
          <div class="chart-title p-component p-3">
            <span>Equipos asignados e incidencias</span>
          </div>
          <div v-if="loadingEquiposStore || loadingIncidenciasStore" class="spinner-container">
            <ProgressSpinner class="spinner-6" />
          </div>
          <EstadisticasEquiposIncidencias v-else ref="grafico2" :equipos="this.listaEquipos"
            :incidencias="this.listaIncidencias" />
        </div>
        <div class="col-md-12 mb-3">
          <div class="chart-title p-component p-3">
            <span>Adquisiciones de equipos (últimos 10 años)</span>
          </div>
          <div v-if="loadingEquiposStore" class="spinner-container">
            <ProgressSpinner class="spinner-6" />
          </div>
          <EstadisticasAdquisicionEquipos v-else ref="grafico3" :equipos="this.listaEquipos" />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.chart-title {
  background-color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
</style>
1