<script>
import { Constantes } from '@/js/Constantes'
import { mapActions, mapState } from 'pinia'
import { usePersonasStore } from '@/stores/personas'
import { useUnidadesStore } from '@/stores/unidades'
import Dialog from 'primevue/dialog'
import InputText from 'primevue/inputtext'
import Calendar from 'primevue/calendar'
import RadioButton from 'primevue/radiobutton'
import Dropdown from 'primevue/dropdown'


export default {
  props: {
    equipo: {
      type: Object,
    },
    editable: {
      type: Boolean,
      default: false
    }
  },
  components: { Dialog, InputText, Calendar, RadioButton, Dropdown },
  emits: ['cancelar', 'guardar', 'asignar', 'desvincular'],
  data() {
    return {
      enviar: false,
      nuevo: true,
      equipoTemp: null,
      selectorTipoAsignacion: null,
      fechaMaxima: null,
      tipNoValida: false,
    }
  },
  watch: {
    equipo(nuevoEquipo) {
      this.equipoTemp = { ...this.equipo }
    }
  },
  computed: {
    ...mapState(usePersonasStore, ['loadingPersonasStore']),
    ...mapState(useUnidadesStore, ['listaUnidades', 'loadingUnidadesStore']),
    hoy() {
      return new Date()
    },
    estaAsignado() {
      return this.equipo.codigoPropietario ? true : false
    },
    getTitulo() {
      return (this.nuevo ? 'Alta de ' : '') + this.equipoTemp.modeloN
    },
    getTipoPropietario() {
      return (this.equipoTemp.tipoEquipo == 'EQUIPO_UNIDAD') ? 'a la Unidad Cód.' : 'al Guardia Civil TIP:'
    },
    getEtiquetaCodigo() {
      return (this.equipoTemp.tipoEquipo == 'EQUIPO_UNIDAD') ? 'Código de Unidad' : 'TIP'
    },
    getCodigosUnidad() {
      return this.listaUnidades.map(u => u.codigoUnidad)
    },
    getMensajeFalloValidacionPropietario() {
      let mensaje = 'Valor no válido'

      if (!this.equipoTemp.codigoPropietario) {
        mensaje = (this.equipoTemp.tipoEquipo == 'EQUIPO_UNIDAD') ? 'Introduzca código de Unidad' : 'Introduzca TIP'
      } else {
        mensaje = 'No se ha encontrado '
        mensaje += (this.equipoTemp.tipoEquipo == 'EQUIPO_UNIDAD') ? 'una Unidad con ese código' : 'una persona con esa TIP'
      }

      return mensaje
    },
    esAltaValida() {
      return this.equipoTemp.numeroSerie && this.equipoTemp.fechaAdquisicion
    },
    esAsignacionValida() {
      return this.equipoTemp.tipoEquipo && this.equipoTemp.codigoPropietario
    }
  },
  methods: {
    ...mapActions(usePersonasStore, ['compruebaMiembroGC']),
    ...mapActions(useUnidadesStore, ['getUnidades']),
    cancelar() {
      this.enviar = false
      this.$emit('cancelar')
    },
    async guardar() {
      this.enviar = true

      if (this.nuevo) {
        if (this.esAltaValida) {
          this.enviar = false
          this.$emit('guardar', this.equipoTemp)
        }
      } else {
        if (this.esAsignacionValida) {
          let propietario = null

          if (this.equipoTemp.tipoEquipo == 'EQUIPO_PERSONAL') {
            propietario = await this.compruebaMiembroGC(this.equipoTemp.codigoPropietario)
            this.tipNoValida = !propietario ? true : false
          } else if (this.equipoTemp.tipoEquipo == 'EQUIPO_UNIDAD') {
            propietario = this.listaUnidades.find((u) => u.codigoUnidad == this.equipoTemp.codigoPropietario)
          }

          if (propietario) {
            this.enviar = false
            this.$emit('asignar', this.equipoTemp, propietario)
          }
        }
      }
    },
    desvincular() {
      this.$emit('desvincular', this.equipoTemp)
    },
    cambioSelectorTipo() {
      this.equipoTemp.codigoPropietario = null
      this.actualizarValidacion()
    },
    actualizarValidacion() {
      this.tipNoValida = false
      this.enviar = false
    },
  },
  created() {
    this.nuevo = this.equipo.numeroSerie ? false : true
    this.equipoTemp = { ...this.equipo }
    if (this.editable && !this.estaAsignado) {
      this.getUnidades()
    }
    if (!this.equipoTemp.fechaAdquisicion) {
      this.equipoTemp.fechaAdquisicion =  new Date()
    }
    this.fechaMaxima = new Date()
    this.fechaMaxima.setFullYear(this.fechaMaxima.getFullYear() + 1)
  }

}
</script>

<template>
  <div id="formularioModelo">
    <Dialog :visible="true" @update:visible="cancelar" :style="{ width: '400px' }" :header="getTitulo" :modal="true"
      :closable="false" class="p-fluid m-3">

      <div class="formgrid grid align-items-baseline">
        <div class="col-6">
          <div class="field">
            <label for="numeroSerie">Número de Serie</label>
            <InputText id="numeroSerie" v-model.trim="equipoTemp.numeroSerie" :disabled="!nuevo" required="true"
              :class="{ 'p-invalid': enviar && !equipoTemp.numeroSerie }" />
            <small class="p-error" v-if="enviar && !equipoTemp.numeroSerie">Introduzca el número de serie</small>
          </div>
        </div>
        <div class="col-6">
          <div class="field">
            <label for="fechaAdquisicion">Fecha de Adquisición: </label>
            <Calendar id="fechaAdquisicion" v-model="equipoTemp.fechaAdquisicion" :disabled="!nuevo" dateFormat="dd/mm/yy"
              :maxDate="fechaMaxima" showIcon required="true"
              :class="{ 'p-invalid': enviar && !equipoTemp.fechaAdquisicion }" />
            <small class="p-error" v-if="enviar && !equipoTemp.fechaAdquisicion">Introduzca fecha de adquisicón</small>
          </div>
        </div>
      </div>

      <div v-if="estaAsignado" class="formgrid grid align-items-baseline">
        <div class="col-12 mt-2">
          <div class="field">
            <span class="">
              <span v-if="editable" class="texto-rojo">Aviso: </span>
              Este equipo se encuentra asignado {{ getTipoPropietario }}
              <span class="negrita">{{ equipoTemp.codigoPropietario }}</span>
              <span v-if="editable">. Antes de poder asignarlo nuevamente debe desvincularlo.</span>
            </span>
          </div>
        </div>
      </div>

      <div v-if="editable && !estaAsignado && !nuevo" class="formgrid grid align-items-baseline">
        <div class="col-12 mt-3">
          <div class="field">
            <div class="flex flex-wrap gap-3">
              Asignar a:
              <div class="flex align-items-center">
                <RadioButton v-model="equipoTemp.tipoEquipo" inputId="selectorUnidad" name="tipoAsignacion"
                  value="EQUIPO_UNIDAD" @change="cambioSelectorTipo" />
                <label for="selectorUnidad" class="ml-2">Unidad</label>
              </div>
              <div class="flex align-items-center">
                <RadioButton v-model="equipoTemp.tipoEquipo" inputId="selectorPersona" name="tipoAsignacion"
                  value="EQUIPO_PERSONAL" @change="cambioSelectorTipo" />
                <label for="selectorPersona" class="ml-2">Persona</label>
              </div>
            </div>
            <small class="p-error" v-if="enviar && !equipoTemp.tipoEquipo">Seleccione un tipo</small>
          </div>
        </div>
        <div v-if="equipoTemp.tipoEquipo" class="col-12  mt-2">
          <div class="field">
            <label for="codigo">{{ getEtiquetaCodigo }}</label>
            <Dropdown v-if="equipoTemp.tipoEquipo == 'EQUIPO_UNIDAD'" v-model="equipoTemp.codigoPropietario" editable
              :options="getCodigosUnidad" placeholder="Seleccionar" class="w-full"
              :class="{ 'p-invalid': enviar && !equipoTemp.codigoPropietario }" />
            <InputText v-if="equipoTemp.tipoEquipo == 'EQUIPO_PERSONAL'" id="numeroSerie"
              v-model.trim="equipoTemp.codigoPropietario" required="true" placeholder="Introducir TIP"
              :class="{ 'p-invalid': enviar && !equipoTemp.codigoPropietario }"
              @update:model-value="actualizarValidacion" />
            <small class="p-error" v-if="enviar && (!equipoTemp.codigoPropietario || tipNoValida)">{{ getMensajeFalloValidacionPropietario }}</small>
          </div>
        </div>

      </div>

      <template #footer>
        <Button v-if="estaAsignado && editable" label="Desvincular" severity="danger" icon="pi pi-exclamation-triangle"
          text @click="desvincular" />
        <Button v-if="(!estaAsignado || nuevo) && editable" label="Guardar" icon="pi pi-check" text @click="guardar" />
        <Button :label="(nuevo || editable) ? 'Cancelar' : 'Salir'" icon="pi pi-times" text @click="cancelar" />
      </template>
    </Dialog>

  </div>
</template>

<style scoped>
.field {
  margin: 5px;
}

.texto-rojo {
  color: red;
}

.negrita {
  font-weight: bold;
}
</style>