<script>
import { mapActions, mapState } from 'pinia'
import { usePersonasStore } from '@/stores/personas'
import Button from 'primevue/button'
import InputText from 'primevue/inputtext'
import ProgressSpinner from 'primevue/progressspinner'

export default {
  components: { Button, InputText, ProgressSpinner },
  data() {
    return {
      enviar: false,
      nombreUsuario: null,
      password: null,
      falloCredenciales: false,
      mostrarPassword: false,
    }
  },
  watch: {
    resultadoPeticionPersonas(nuevoEstado) {
      if (nuevoEstado) {
        if (nuevoEstado.codigoEstado == '403') {
          this.falloCredenciales = true
        }
      }
    },
  },
  computed: {
    ...mapState(usePersonasStore, ['loadingPersonasStore', 'resultadoPeticionPersonas'])
  },
  methods: {
    ...mapActions(usePersonasStore, ['loginPersona']),
    iniciarSesion() {
      this.enviar = true
      if (this.nombreUsuario && this.password) {
        this.loginPersona({ 'nombreUsuario': this.nombreUsuario, 'password': this.password })
      }
    },
    eventoPulsarIntro(evento) {
      if (evento.key == 'Enter') {
        document.getElementById('botonInicioSesion').focus()
        document.getElementById('botonInicioSesion').click()
      }
    },
    actualizarValidacion() {
      this.falloCredenciales = false
    },
  },
  created() {
    window.addEventListener('keydown', this.eventoPulsarIntro)
  },
  destroyed() {
    window.removeEventListener('keydown', this.eventoPulsarIntro)
  }
}
</script>

<template>
  <div>
    <div class="flex justify-content-center">
      <ProgressSpinner v-if="loadingPersonasStore" class="spinner-6 overlay-spinner" />
      <div class="p-dialog p-component p-fluid m-3 marco-login">
        <div class="p-dialog-header">
          <span class="p-dialog-title">Iniciar sesión</span>
        </div>
        <div class="p-dialog-content">
          <div class="formgrid grid">
            <div class="col-12">
              <div class="field">
                <label for="nombreUsuario">Usuario</label>
                <InputText id="nombreUsuario" v-model.trim="nombreUsuario" required="true"
                  :class="{ 'p-invalid': enviar && !nombreUsuario }" @update:model-value="actualizarValidacion" />
                <small class="p-error">{{ (enviar && !nombreUsuario) ? 'Introduzca el nombre de usuario' :
                  '&nbsp;' }}</small>
              </div>
            </div>
            <div class="col-12">
              <div class="field">
                <label for="password">Contraseña</label>
                <span class="p-input-icon-right">
                  <i class="pi pi-eye-slash" @mouseover="mostrarPassword = true" @mouseleave="mostrarPassword = false"/>
                  <InputText id="password" :type="mostrarPassword ? 'text' : 'password'" v-model.trim="password" required="true"
                  :class="{ 'p-invalid': enviar && !password }" @update:model-value="actualizarValidacion" />
                </span>
                <!-- <InputText id="password" type="password" v-model.trim="password" required="true"
                  :class="{ 'p-invalid': enviar && !password }" @update:model-value="actualizarValidacion" /> -->
                <small class="p-error">{{ (enviar && !password) ? 'Introduzca la contraseña' : '&nbsp;' }}</small>
              </div>
            </div>
            <div v-if="falloCredenciales" class="col-12 text-center">
              <span class="p-error">¡El usuario o contraseña son incorrectos!</span>
            </div>
          </div>
        </div>
        <div class="p-dialog-footer" data-pc-section="footer">
          <Button id="botonInicioSesion" label="Inicio de sesión" icon="bi bi-box-arrow-in-right" severity="success"
            @Click="iniciarSesion" />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.marco-login {
  max-width: 400px;
}

.field {
  margin: 5px;
}

.spinner-6 {
  width: 6rem;
  height: 6rem;
}

.overlay-spinner {
  position: absolute;
  top: 13.5rem;
  left: calc(50% - 3rem);
  z-index: 100;
}
</style>