<script>
import { Constantes } from '@/js/Constantes'

export default {
  props: {
    incidencia: {
      type: Object,
    },
  },
  emits: ['cancelar', 'guardar'],
  data() {
    return {
      enviar: false,
      nueva: true,
      incidenciaTemp: null,
      inputId: null,
      tipoIncidenciaTemp: null
    }
  },
  computed: {
    tiposDeIncidencia() {
      return Constantes.getTiposDeIncidencia()
    },
    listaDeIncidencias() {
      return Constantes.getListaDeIncidencias()
    },
  },
  methods: {
    cancelar() {
      this.enviar = false
      this.$emit('cancelar')
    },
    guardar() {
      this.enviar = true

      if (this.incidenciaTemp.descripcion &&
        this.incidenciaTemp.tipoIncidencia &&
        (this.incidenciaTemp.tipoIncidencia == this.tiposDeIncidencia[0] && this.incidenciaTemp.componente != null) ||
        (this.incidenciaTemp.tipoIncidencia == this.tiposDeIncidencia[1] && this.incidenciaTemp.aplicacion != null) ||
        (this.incidenciaTemp.tipoIncidencia == this.tiposDeIncidencia[2] && this.incidenciaTemp.ultimaUbicacion != null)
      ) {
        this.enviar = false
        this.$emit('guardar', this.incidenciaTemp)
      }
    },

  },
  created() {
    this.nueva = this.incidencia.codigo ? false : true
    this.incidenciaTemp = { ...this.incidencia }
  },
}
</script>

<template>
  <div>
    <Dialog :visible="true" @update:visible="$emit('cancelar')" :style="{ width: '520px' }"
      :header="(nueva ? 'Alta de incidencia en equipo: ' : 'Editar Incidencia en equipo: ') + this.incidenciaTemp.equipoN"
      :modal="true" :closable="false" class="p-fluid m-3">

      <!-- <div class="field">
          <label for="resolucion">Equipo</label>
          <Dropdown v-model="incidenciaTemp.equipo" editable :options="null" placeholder="Equipo" class="w-full md:w-14rem" />
        </div> -->

      <div class="formgrid grid">
        <div class="col-12">
          <div class="field">
            <label for="description">Descripción</label>
            <Textarea id="description" v-model="incidenciaTemp.descripcion" required="true" rows="3" cols="20"
              :autofocus="incidenciaTemp ? false : true"
              :class="{ 'p-invalid': enviar && !incidenciaTemp.descripcion }" />
            <small class="p-error" v-if="enviar && !incidenciaTemp.descripcion">Introduzca la descripción de la
              incidencia</small>
          </div>
        </div>
        <div class="col-12">
          <div class="field">
            <div class="flex flex-wrap gap-3 justify-content-center" requiered="true">
              <div class="flex align-items-center">
                <RadioButton v-model="incidenciaTemp.tipoIncidencia" name="tipoIncidencia" value="AVERIA" />
                <label for="AVERIA" class="ml-2">Avería</label>
              </div>
              <div class="flex align-items-center">
                <RadioButton v-model="incidenciaTemp.tipoIncidencia" name="tipoIncidencia" value="CONFIGURACION" />
                <label for="CONFIGURACION" class="ml-2">Configuración</label>
              </div>
              <div class="flex align-items-center">
                <RadioButton v-model="incidenciaTemp.tipoIncidencia" name="tipoIncidencia" value="EXTRAVIO" />
                <label for="EXTRAVIO" class="ml-2">Extravío</label>
              </div>
            </div>
            <div class="flex justify-content-center mt-1">
              <small class="p-error" v-if="enviar && !incidenciaTemp.tipoIncidencia">Seleccione un tipo de
                incidencia</small>
            </div>
          </div>
        </div>
      </div>

      <div v-if="incidenciaTemp.tipoIncidencia == tiposDeIncidencia[0]">
        <div class="d-flex mt-2">
          <div class="field">
            <label for="componente">Componente</label>
            <InputText id="componente" v-model="incidenciaTemp.componente" :required="false"
              :class="{ 'p-invalid': enviar && !incidenciaTemp.componente }" />
            <small class="p-error" v-if="enviar && !incidenciaTemp.componente">Introduzca el componente averiado</small>
          </div>
        </div>
      </div>

      <div v-if="incidenciaTemp.tipoIncidencia == tiposDeIncidencia[1]">
        <div class="d-flex mt-2">
          <div class="field">
            <label for="aplicacion">Aplicación</label>
            <InputText id="aplicacion" v-model="incidenciaTemp.aplicacion" :required="false"
              :class="{ 'p-invalid': enviar && !incidenciaTemp.aplicacion }" />
            <small class="p-error" v-if="enviar && !incidenciaTemp.aplicacion">Introduzca la aplicación a
              configurar</small>
          </div>
        </div>
      </div>

      <div v-if="incidenciaTemp.tipoIncidencia == tiposDeIncidencia[2]">
        <div class="d-flex mt-2">
          <div class="field">
            <label for="ultimaUbicacion">Última ubicación</label>
            <InputText id="ultimaUbicacion" v-model="incidenciaTemp.ultimaUbicacion" :required="false"
              :class="{ 'p-invalid': enviar && !incidenciaTemp.ultimaUbicacion }" />
            <small class="p-error" v-if="enviar && !incidenciaTemp.ultimaUbicacion">Introduzca la última ubicación
              conocida</small>
          </div>
        </div>
      </div>

      <template #footer>
        <Button label="Cancelar" icon="pi pi-times" text @click="cancelar" />
        <Button label="Guardar" icon="pi pi-check" text @click="guardar" />
      </template>
    </Dialog>

  </div>
</template>

<style>
.field {
  margin: 5px;
}
</style>