<script>
import { Constantes } from '@/js/Constantes'

export default {
  props: {
    modelo: {
      type: Object,
    },
  },
  emits: ['cancelar', 'guardar'],
  data() {
    return {
      enviar: false,
      nuevo: true,
      modeloTemp: null,
      tipoEquipoTemp: null,
    }
  },
  watch: {
    modelo(nuevoModelo) {
      this.modeloTemp = { ...nuevoModelo }
    }
  },
  computed: {
    resoluciones() {
      return Constantes.getResoluciones()
    },
    tiposDeEquipo() {
      return Constantes.getTiposDeEquipo()
    },
    listaDeEquipos() {
      return Constantes.getListaDeEquipos()
    },
    equiposInformaticos() {
      return Constantes.getTipoEquipoInformatico()
    },
    conexiones() {
      return Constantes.getConexiones()
    },
    constantes() {
      return Constantes.getConstantes()
    },
    esEquipoInformatico() {
      return this.tipoEquipoTemp == this.listaDeEquipos[0]
    },
    esWebcam() {
      return this.tipoEquipoTemp == this.listaDeEquipos[1]
    },
    esAuriculares() {
      return this.tipoEquipoTemp == this.listaDeEquipos[2]
    },
    esDiscoValido() {
      return (!this.esEquipoInformatico || (this.modeloTemp.discoDuro &&
        (this.modeloTemp.discoDuro <= this.constantes.DISCODURO_MAX &&
          this.modeloTemp.discoDuro >= this.constantes.DISCODURO_MIN)))
    },
    esPulgadasValido() {
      return (!this.esEquipoInformatico || (this.modeloTemp.pulgadas &&
        (this.modeloTemp.pulgadas <= this.constantes.PULGADAS_MAX &&
          this.modeloTemp.pulgadas >= this.constantes.PULGADAS_MIN)))
    },
    esMemoriaValido() {
      return (!this.esEquipoInformatico || (this.modeloTemp.memoria &&
        (this.modeloTemp.memoria <= this.constantes.MEMORIA_MAX &&
          this.modeloTemp.memoria >= this.constantes.MEMORIA_MIN)))
    },
    esResolucionValido() {
      return (!this.esWebcam || this.modeloTemp.resolucion)
    },
    esConexionValido () {
      return (!this.esAuriculares || this.modeloTemp.conexion)
    }
  },
  methods: {
    cancelar() {
      this.enviar = false
      this.$emit('cancelar')
    },
    guardar() {
      this.enviar = true
      this.modeloTemp.tipoModelo = this.tiposDeEquipo[this.listaDeEquipos.indexOf(this.tipoEquipoTemp)]

      if (this.modeloTemp.marca && this.modeloTemp.nombreModelo && this.modeloTemp.imagen &&
        this.modeloTemp.tipoModelo && this.esDiscoValido && this.esPulgadasValido && this.esMemoriaValido &&
        this.esResolucionValido && this.esConexionValido) {
        this.enviar = false
        this.$emit('guardar', this.modeloTemp)
      }
    },
    incrementarPulgadas() {
      if (this.modeloTemp.pulgadas < this.constantes.PULGADAS_MAX) {
        this.modeloTemp.pulgadas++
      }
    },
    decrementarPulgadas() {
      if (this.modeloTemp.pulgadas > this.constantes.PULGADAS_MIN) {
        this.modeloTemp.pulgadas--
      }
    },
    actualizarPulgadas() {
      let pulgadas = null
      switch (this.modeloTemp.tipoEquipoInformatico) {
        case "Tablet":
          pulgadas = this.constantes.PULGADAS_TABLET_DEF
          break
        case "Ordenador portátil":
          pulgadas = this.constantes.PULGADAS_PORTATIL_DEF
          break
        case "Smartphone":
          pulgadas = this.constantes.PULGADAS_SMARTPHONE_DEF
          break
        default:
          pulgadas = this.constantes.PULGADAS_DEF
      }
      this.modeloTemp.pulgadas = pulgadas
    },
    cargarArchivo(event) {
      const archivo = event.target.files[0]
      const tipo = archivo.type
      const reader = new FileReader()

      reader.onload = (e) => {
        const img = new Image()

        img.src = e.target.result
        img.onload = () => {
          const canvas = document.createElement('canvas')
          const ctx = canvas.getContext('2d')
          canvas.width = this.constantes.IMAGEN_REDUCIDA_ANCHO
          canvas.height = this.constantes.IMAGEN_REDUCIDA_ALTO
          ctx.drawImage(img, 0, 0, this.constantes.IMAGEN_REDUCIDA_ANCHO, this.constantes.IMAGEN_REDUCIDA_ALTO)
          const imagenReducida = canvas.toDataURL(tipo)
          this.modeloTemp.imagen = e.target.result
          this.modeloTemp.imgReducida = imagenReducida
        }
      }
      reader.readAsDataURL(archivo)
    },
    seleccionarArchivo() {
      document.getElementById('getFile').click()
    }
  },
  created() {
    this.nuevo = this.modelo ? false : true
    this.modeloTemp = this.nuevo ? {} : { ...this.modelo }
    if (!this.nuevo) {
      this.tipoEquipoTemp = this.listaDeEquipos[this.tiposDeEquipo.indexOf(this.modeloTemp.tipoModelo)]
    }
    if (!this.modeloTemp.stereo) {
      this.modeloTemp.stereo = false
    }
  }

}
</script>

<template>
  <div id="formularioModelo">
    <Dialog :visible="true" @update:visible="cancelar" :style="{ width: '500px' }"
      :header="nuevo ? 'Nuevo Modelo' : 'Editar Modelo'" :modal="true" :closable="false" class="p-fluid m-3">

      <div class="formgrid grid">
        <div class="col-6">
          <div class="field">
            <label for="marca">Marca</label>
            <InputText id="marca" v-model.trim="modeloTemp.marca" required="true"
              :class="{ 'p-invalid': enviar && !modeloTemp.marca }" />
            <small class="p-error" v-if="enviar && !modeloTemp.marca">Introduzca la marca del modelo</small>
          </div>
        </div>
        <div class="col-6">
          <div class="field">
            <label for="modelo">Nombre del Modelo</label>
            <InputText id="modelo" v-model.trim="modeloTemp.nombreModelo" required="true"
              :autofocus="modeloTemp ? false : true" :class="{ 'p-invalid': enviar && !modeloTemp.nombreModelo }" />
            <small class="p-error" v-if="enviar && !modeloTemp.nombreModelo">Introduzca el nombre del modelo</small>
          </div>
        </div>

        <div class="col-12">
          <div class="field">
            <label for="descripcion">Detalles</label>
            <Textarea id="descripcion" v-model="modeloTemp.detalles" required="false" rows="3" cols="20" />
          </div>
        </div>
      </div>

      <div class="formgrid grid mt-2">
        <div class="col-12">
          <div class="field flex justify-content-center align-items-center">
            <Button label="Cargar Imagen" icon="pi pi-upload" class="boton-ancho" @click="seleccionarArchivo" />
            <input type='file' id="getFile" style="display:none" @change="cargarArchivo">
            <div class="imagen-pequena">
              <img :src="modeloTemp.imgReducida" alt="Seleccione una imagen" required="true"
                :class="{ 'texto-rojo': enviar && !modeloTemp.imagen }">
            </div>
          </div>
        </div>
      </div>
      
      <div class="formgrid grid">
        <div class="col-6">
          <div class="field">
            <label for="selectorTipo" class="mb-2">Tipo de Equipo</label>
            <Dropdown id="selectorTipo" v-model="tipoEquipoTemp" :options="listaDeEquipos" placeholder="Seleccione Tipo"
              class="w-full" :class="{ 'p-invalid': enviar && !tipoEquipoTemp }" />
            <small class="p-error" v-if="enviar && !tipoEquipoTemp">Seleccione un tipo de modelo</small>
          </div>
        </div>

        <div v-if="esEquipoInformatico" class="col-6">
          <div class="field">
            <label for="selectorEquipoInformatico" class="mb-2">Subtipo</label>
            <Dropdown id="selectorEquipoInformatico" v-model="modeloTemp.tipoEquipoInformatico"
              :options="equiposInformaticos" placeholder="Subtipo" class="w-full"
              :class="{ 'p-invalid': enviar && !modeloTemp.tipoEquipoInformatico }" @change="actualizarPulgadas" />
            <small class="p-error" v-if="enviar && !modeloTemp.tipoEquipoInformatico">Seleccione un subtipo</small>
          </div>
        </div>

      </div>

      <div v-if="esEquipoInformatico" class="formgrid grid">
        <div class="col-8">
          <div class="field">
            <label for="sistemaOperativo">Sistema operativo</label>
            <InputText id="sistemaOperativo" v-model="modeloTemp.sistemaOperativo" required="true" />
            <small class="p-error" v-if="enviar && !modeloTemp.sistemaOperativo">Introduzca SO</small>
          </div>
        </div>

        <div class="col-4">
          <div class="field">
            <label for="pulgadas">Pulgadas</label>
            <div class="p-inputgroup">
              <Button icon="pi pi-minus" @click="decrementarPulgadas" />
              <InputNumber id="pulgadas" v-model="modeloTemp.pulgadas" :min="constantes.PULGADAS_MIN"
                :max="constantes.PULGADAS_MAX" />
              <Button icon="pi pi-plus" @click="incrementarPulgadas" />
            </div>
            <small class="p-error" v-if="enviar && !esPulgadasValido">Introduzca
              pulgadas entre {{ constantes.PULGADAS_MIN }} y {{ constantes.PULGADAS_MAX }}</small>
          </div>
        </div>

        <div class="col-6">
          <div class="field">
            <label for="discoDuro">Disco duro</label>
            <InputNumber id="discoDuro" v-model="modeloTemp.discoDuro" suffix=" GB" required="true"
              :autofocus="modeloTemp ? false : true" :class="{ 'p-invalid': enviar && !esDiscoValido }" />
            <small class="p-error" v-if="enviar && !esDiscoValido">
              Introduzca tamaño entre {{ constantes.DISCODURO_MIN }} y {{ constantes.DISCODURO_MAX }} GB</small>
          </div>
        </div>
        <div class="col-6">
          <div class="field">
            <label for="memoria">Memoria</label>
            <InputNumber id="memoria" v-model="modeloTemp.memoria" suffix=" GB" :required="true"
              :autofocus="modeloTemp ? false : true" :class="{ 'p-invalid': enviar && !esMemoriaValido }" />
            <small class="p-error" v-if="enviar && !esMemoriaValido"> Introduzca tamaño entre
              {{ constantes.MEMORIA_MIN }} y {{ constantes.MEMORIA_MAX }} GB</small>
          </div>
        </div>
      </div>

      <div v-if="esWebcam" class="formgrid grid">
        <div class="col-6">
          <div class="field">
            <label for="resolucion">Resolución</label>
            <Dropdown v-model="modeloTemp.resolucion" editable :options="resoluciones" placeholder="Resolución"
              class="w-full" :class="{ 'p-invalid': enviar && !esResolucionValido }" />
            <small class="p-error" v-if="enviar && !esResolucionValido">Seleccione resolución</small>
          </div>
        </div>
      </div>

      <div v-if="esAuriculares" class="formgrid grid" >
        <div class="col-6">
          <div class="field">
            <label for="conexion">Conexión</label>
            <Dropdown v-model="modeloTemp.conexion" editable :options="conexiones" placeholder="Conexión" class="w-full"
              :class="{ 'p-invalid': enviar && !esConexionValido }" />
            <small class="p-error" v-if="enviar && !esConexionValido">Seleccione conexión</small>
          </div>
        </div>
        <div class="col-6 flex align-items-end">
          <div class="field-radiobutton mt-2 mb-2">
            <label for="stereo" class="mr-3">Stereo</label>
            <InputSwitch v-model="modeloTemp.stereo" />
          </div>
        </div>
      </div>

      <template #footer>
        <Button label="Cancelar" icon="pi pi-times" text @click="cancelar" />
        <Button label="Guardar" icon="pi pi-check" text @click="guardar" />
      </template>
    </Dialog>

  </div>
</template>

<style scoped>
.field {
  margin: 5px;
}

.imagen-pequena {
  width: 5rem;
  height: 5rem;
  border: 1px solid #ced4da;
  display: flex;
  /* margin-top: 1rem; */
  text-align: center;
  background-color: aliceblue;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.boton-ancho {
  width: 11rem !important;
  height: 3rem;
  margin-right: 6px;
}

.texto-rojo {
  color: red;
}
</style>