<script>

import { mapActions, mapState } from 'pinia'
import { useIncidenciasStore } from '@/stores/incidencias'
import { usePersonasStore } from '@/stores/personas'
import { estaAutorizado } from '@/js/filtros'

import Listado from '@/components/listado/Listado.vue'
import PanelTitulado from '@/components/PanelTitulado.vue'
import ProgressSpinner from 'primevue/progressspinner'
import InformacionIncidencia from '@/components/InformacionIncidencia.vue'


export default {
  components: { Listado, PanelTitulado, ProgressSpinner, InformacionIncidencia },
  data() {
    return {
      mostrarFormulario: false,
      mostrarInfoIncidencia: false,
      edicionHabilitada: false,
      enviar: false,
      palabraBuscada: '',
      configuracionDeListado: [
        { clave: 'equipoN', titulo: 'Equipo', tipo: 'texto', estilos: '' },
        { clave: 'codigo', titulo: 'Código', tipo: 'texto', estilos: 'max-width: 12rem;' },
        { clave: 'fechaAlta', titulo: 'Creada', tipo: 'fecha', estilos: 'max-width: 8rem;' },
        { clave: 'tipoIncidencia', titulo: 'Tipo', tipo: 'estado', estilos: 'justify-content: center; max-width: 10rem;' },
        { clave: 'estado', titulo: 'Estado', tipo: 'estado', estilos: 'justify-content: center; max-width: 10rem;' },
        { clave: '', titulo: 'Acciones', tipo: 'acciones', estilos: 'justify-content: center; max-width: 8rem;' }
      ],
      camposDeBusqueda: ['equipoN', 'codigo', 'tipoIncidencia', 'estado'],
      acciones: ['editar', 'informar'],
    }
  },
  mounted() {
  },
  computed: {
    ...mapState(useIncidenciasStore, ['listaIncidencias', 'incidenciaSeleccionada', 'loadingIncidenciasStore']),
    ...mapState(usePersonasStore, ['personaLogueada']),
    mostrarLista() {
      return (this.listaIncidencias.length > 0)
    },
    listaIncidenciasParaMostrar() {
      let listaIncidenciasFiltrada = this.listaIncidencias

      if (this.palabraBuscada != '') {
        listaIncidenciasFiltrada = listaIncidenciasFiltrada.filter(c => {
          for (const clave of this.camposDeBusqueda) {
            if (typeof c[clave] === 'string' || c[clave] instanceof String) {
              if (c[clave].toLowerCase().includes(this.palabraBuscada.toLowerCase())) {
                return true
              }
            }
          }
          return false
        })
      }

      return listaIncidenciasFiltrada
    },
    getAccionesIncidencias() {
      let opciones = []
      if (this.personaLogueada) {
        opciones = this.acciones.filter(opcion => estaAutorizado('accionesIncidencias', opcion, this.personaLogueada.perfil))
      }
      return opciones
    }
  },
  methods: {
    ...mapActions(useIncidenciasStore, ['getIncidencias', 'saveIncidencia', 'resetEstadoIncidenciasStore', 'editIncidencia', 'patchAsignarResolutor',
      'seleccionaIncidencia', 'getEstadoPeticion', 'patchResolverIncidencia', 'patchCerrarIncidencia']),
    editarIncidencia(incidencia) {
      this.seleccionaIncidencia(incidencia._links.self.href)
      this.edicionHabilitada = true
      this.mostrarInfoIncidencia = true
    },
    informarIncidencia(incidencia) {
      this.seleccionaIncidencia(incidencia._links.self.href)
      this.edicionHabilitada = false
      this.mostrarInfoIncidencia = true
    },
    cerrarFormulario() {
      this.mostrarInfoIncidencia = false
    },
    resolverIncidencia(incidencia) {
      this.patchResolverIncidencia(incidencia)
    },
    cerrarIncidencia(incidencia) {
      this.patchCerrarIncidencia(incidencia)
    },
    asignarResolutor(incidencia, resolutor) {
      this.patchAsignarResolutor(incidencia, resolutor)
    },
    editar(incidencia) {
      this.editIncidencia(incidencia)
    },
    seleccionarAccion(accion, elemento) {
      if (accion == 'editar') {
        this.editarIncidencia(elemento)
      } else if (accion == 'informar') {
        this.informarIncidencia(elemento)
      }
    },


    buscar(palabra) {
      this.palabraBuscada = palabra
    },
    gestionarErrores(event) {
      if (!event) this.resetEstadoIncidenciasStore()
    }
  },
  created() {
    this.getIncidencias()
  },
}
</script>

<template>
  <div class="p-card">

    <PanelTitulado titulo="Listado de Incidencias" @search="buscar">
      <ProgressSpinner v-if="loadingIncidenciasStore" :class="['spinner-6', { 'overlay-spinner': mostrarLista }]" />
      <Listado v-if="mostrarLista" :elementos="listaIncidenciasParaMostrar" :configuracion="configuracionDeListado"
        :destacable="false" :acciones="getAccionesIncidencias" @accion-seleccionada="seleccionarAccion" />
    </PanelTitulado>

    <InformacionIncidencia v-if="mostrarInfoIncidencia" :incidencia="incidenciaSeleccionada" :editable="edicionHabilitada" @cancelar="cerrarFormulario"
      @asignar="asignarResolutor" @editar="editar" @resolver="resolverIncidencia" @cerrar="cerrarIncidencia" />

  </div>
</template>

<style scoped>
.spinner-6 {
  width: 6rem;
  height: 6rem;
  margin-left: calc(50% - 3rem);
}

.overlay-spinner {
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  margin-left: 0;
}
</style>