<script>
import { Constantes } from '@/js/Constantes'
import GraficoModelo from '@/components/graficos/GraficoModelo.vue'
import ProgressSpinner from 'primevue/progressspinner'
import { useModelosStore } from '@/stores/modelos'
import { mapState } from 'pinia'

export default {
  props: {
    modelo: {
      type: Object,
    },
  },
  emits: ['cancelar'],
  components: { GraficoModelo, ProgressSpinner },
  data() {
    return {
      modeloTemp: null,
      tipoEquipoTemp: null,
    }
  },
  watch: {
    modelo(nuevoModelo) {
      this.modeloTemp = { ...this.modelo }
    }
  },
  computed: {
    ...mapState(useModelosStore, ['loadingModelosStore']),

    tiposDeEquipo() {
      return Constantes.getTiposDeEquipo()
    },
    listaDeEquipos() {
      return Constantes.getListaDeEquipos()
    },
    esEquipoInformatico() {
      return this.tipoEquipoTemp == this.listaDeEquipos[0]
    },
    esWebcam() {
      return this.tipoEquipoTemp == this.listaDeEquipos[1]
    },
    esAuriculares() {
      return this.tipoEquipoTemp == this.listaDeEquipos[2]
    },
    existenEquiposAsignados() {
      return this.modeloTemp.asignadosAPersona && this.modeloTemp.asignadosAUnidad
    },
    mostrarSpinner() {
      return this.loadingModelosStore
    },

  },
  methods: {
    cancelar() {
      this.$emit('cancelar')
    },
    eventoRedimensionar() {
      if (this.$refs.grafico) {
        this.$refs.grafico.refrescar()
      }
    },
  },
  created() {
    this.modeloTemp = { ...this.modelo }
    this.tipoEquipoTemp = this.listaDeEquipos[this.tiposDeEquipo.indexOf(this.modeloTemp.tipoModelo)]

    window.addEventListener("resize", this.eventoRedimensionar)
  },
  destroyed() {
    window.removeEventListener("resize", this.eventoRedimensionar)
  }
}
</script>

<template>
  <div>
    <Dialog :visible="true" @update:visible="cancelar" style="width: 500px; max-width: calc(100% - 2rem);"
      header="Información del modelo" :modal="true" :closable="false" class="m-3">

      <!-- <div class="formgrid grid">
        <div class="col-12"> -->
      <div class="text-center" :class="loadingModelosStore ? '' : 'fondo-grafico'">
        <ProgressSpinner v-if="loadingModelosStore" class="spinner-6" />
        <GraficoModelo ref="grafico" v-else :modelo="modeloTemp" />
      </div>

      <!-- </div> -->
      <!-- </div> -->

      <div class="data">
        <div class="text-center">
          <img class="imagenCentrada" :src="modeloTemp.imgReducida">
        </div>
        <p><strong>Marca:</strong> {{ modeloTemp.marca }}</p>
        <p><strong>Modelo:</strong> {{ modeloTemp.nombreModelo }}</p>
        <p><strong>Detalles:</strong> {{ modeloTemp.detalles }}</p>
        <p><strong>Número de equipos del modelo:</strong> {{ modeloTemp.numEquipos }}</p>
        <p><strong>Tipo de equipo:</strong> {{ tipoEquipoTemp }}</p>
        <p v-if="esEquipoInformatico && modeloTemp.tipoEquipoInformatico"> <strong>{{ modeloTemp.tipoEquipoInformatico }} </strong>
          {{ modeloTemp.sistemaOperativo }}
          {{ modeloTemp.pulgadas }}&quot;,
          HD {{ modeloTemp.discoDuro }} GB,
          MEM {{ modeloTemp.memoria }} GB
        </p>
        <p v-if="esWebcam"><strong>Resolución:</strong> {{ modeloTemp.resolucion }} </p>
        <p v-if="esAuriculares"><strong>Sonido:</strong> {{ modeloTemp.stereo ? 'STEREO' : 'MONO' }} -
          {{ modeloTemp.conexion }} </p>

      </div>


      <template #footer>
        <Button label="Cerrar" icon="pi pi-times" text @click="cancelar" />
      </template>
    </Dialog>

  </div>
</template>

<style scoped>
.field {
  margin: 5px;
}

.imagen-pequena {
  width: 5rem;
  height: 5rem;
  border: 1px solid #ced4da;
  display: flex;
  /* margin-top: 1rem; */
  text-align: center;
  background-color: aliceblue;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.boton-ancho {
  width: 8rem !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.spinner-6 {
  width: 6rem;
  height: 6rem;
  /* margin-left: calc(50% - 3rem); */
}

.text-center.flex {
  display: flex;
  justify-content: center;
  height: 100%;
}

.fondo-grafico {
  background-color: whitesmoke;
  border-radius: 0.5rem;
}

.imagenCentrada {
  border: 1px solid #e9ecef;
  margin: 1rem;
  padding: 0.5rem;
}
</style>
