<script>

import { mapActions, mapState } from 'pinia'
import { useEquiposStore } from '@/stores/equipos'
import { useIncidenciasStore } from '@/stores/incidencias'
import { usePersonasStore } from '@/stores/personas'
import { estaAutorizado } from '@/js/filtros'

import Listado from '@/components/listado/Listado.vue'
import PanelTitulado from '@/components/PanelTitulado.vue'
import FormularioEquipo from '@/components/FormularioEquipo.vue'
import ProgressSpinner from 'primevue/progressspinner'
import FormularioIncidencia from '@/components/FormularioIncidencia.vue'
import DialogoConfirmacion from '@/components/DialogoConfirmacion.vue'


export default {
  components: { Listado, PanelTitulado, FormularioIncidencia, FormularioEquipo, DialogoConfirmacion },
  data() {
    return {
      mostrarFormulario: false,
      mostrarFormularioIncidencia: false,
      mostrarConfirmacion: false,
      equipoParaBorrar: null,
      enviar: false,
      palabraBuscada: '',
      incidenciaTemp: null,
      configuracionDeListado: [
        { clave: 'modeloN', titulo: 'Equipo', tipo: 'texto', estilos: '' },
        { clave: 'numeroSerie', titulo: 'Nº de serie', tipo: 'texto', estilos: '' },
        { clave: 'estadoAsignacion', titulo: 'Estado', tipo: 'texto', estilos: 'justify-content: center;' },
        { clave: 'codigoPropietario', titulo: 'Cód. Propietario', tipo: 'texto', estilos: 'justify-content: center;' },
        { clave: '', titulo: 'Acciones', tipo: 'acciones', estilos: 'justify-content: center;' }],
      camposDeBusqueda: ['modeloN', 'numeroSerie', 'estadoAsignacion', 'codigoPropietario'],
      acciones: ['editar', 'informar', 'borrar', 'reportarIncidencia'],
      editable: false
    }
  },
  computed: {
    ...mapState(useEquiposStore, ['listaEquipos', 'equipoSeleccionado', 'loadingEquiposStore', 'palabraBuscadaStore']),
    ...mapState(useIncidenciasStore, ['loadingIncidenciasStore']),
    ...mapState(usePersonasStore, ['personaLogueada']),
    mostrarLista() {
      return (this.listaEquipos.length > 0)
    },
    listaEquiposParaMostrar() {
      let listaEquiposFiltrada = this.listaEquipos

      if (this.palabraBuscada != '') {
        listaEquiposFiltrada = listaEquiposFiltrada.filter(c => {
          for (const clave of this.camposDeBusqueda) {
            if (typeof c[clave] === 'string' || c[clave] instanceof String) {
              if (c[clave].toLowerCase().includes(this.palabraBuscada.toLowerCase())) {
                return true
              }
            }
          }
          return false
        })
      }

      return listaEquiposFiltrada
    },
    getAccionesEquipos() {
      let opciones = []
      if (this.personaLogueada) {
        opciones = this.acciones.filter(opcion => estaAutorizado('accionesEquipos', opcion, this.personaLogueada.perfil))
      }
      return opciones
    }
  },
  methods: {
    ...mapActions(useEquiposStore, ['esPropietario', 'getEquipos', 'seleccionaEquipo', 'asignarEquipoStore', 'desvincularEquipoStore', 'removeEquipo', 'setPalabraBuscadaStore']),
    ...mapActions(useIncidenciasStore, ['saveIncidencia', 'resetEstadoIncidenciasStore']),
    mostrarFormularioEquipo(equipo) {
      this.seleccionaEquipo(equipo._links.self.href)
      this.mostrarFormulario = true
    },
    cerrarFormulario() {
      this.mostrarFormulario = false
      this.mostrarFormularioIncidencia = false
    },
    asignarEquipo(equipo, propietario) {
      this.asignarEquipoStore(equipo, propietario)
      this.cerrarFormulario()
    },
    desvincularEquipo(equipo) {
      this.desvincularEquipoStore(equipo)
      this.cerrarFormulario()
    },
    borrarEquipo() {
      this.mostrarConfirmacion = false
      this.removeEquipo(this.equipoParaBorrar)
      this.equipoParaBorrar = null
    },
    guardarIncidencia(data) {
      this.saveIncidencia(data)
      this.cerrarFormulario()
    },
    seleccionarAccion(accion, elemento) {
      if (accion == "editar") {
        this.editable = true
        this.mostrarFormularioEquipo(elemento)
      } else if (accion == 'informar') {
        this.editable = false
        this.mostrarFormularioEquipo(elemento)
      } else if (accion == 'borrar') {
        this.equipoParaBorrar = elemento
        this.mostrarConfirmacion = true
      } else if (accion == 'reportarIncidencia') {
        this.incidenciaTemp = { equipo: elemento._links.self.href, equipoN: elemento.modeloN + " " + elemento.numeroSerie }
        this.mostrarFormularioIncidencia = true
      }
    },
    buscar(palabra) {
      this.palabraBuscada = palabra
    },
  },

  created() {
    this.getEquipos()
    if (this.palabraBuscadaStore) {
      this.palabraBuscada = this.palabraBuscadaStore
      this.setPalabraBuscadaStore(null)
    } 

  },
}
</script>

<template>
  <div>

    <PanelTitulado titulo="Listado de Equipos" @search="buscar" :textoBuscado="this.palabraBuscada">
      <ProgressSpinner v-if="loadingEquiposStore || loadingIncidenciasStore"
        :class="['spinner-6', { 'overlay-spinner': mostrarLista }]" />
      <Listado v-if="mostrarLista" :elementos="listaEquiposParaMostrar" :configuracion="configuracionDeListado"
        :destacable="false" :acciones="getAccionesEquipos" @accion-seleccionada="seleccionarAccion" />
    </PanelTitulado>

    <FormularioEquipo v-if="mostrarFormulario" :equipo="equipoSeleccionado" :editable="editable"
      @cancelar="cerrarFormulario" @asignar="asignarEquipo" @desvincular="desvincularEquipo" />
    <FormularioIncidencia v-if="mostrarFormularioIncidencia" :incidencia="incidenciaTemp" @cancelar="cerrarFormulario"
      @guardar="guardarIncidencia" />

    <DialogoConfirmacion :visible="mostrarConfirmacion" mensaje="¿Seguro que quiere borrar este equipo?"
      @confirmar="borrarEquipo" @cancelar="mostrarConfirmacion = false" />

  </div>
</template>

<style scoped>
.spinner-6 {
  width: 6rem;
  height: 6rem;
  margin-left: calc(50% - 3rem);
}

.overlay-spinner {
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  margin-left: 0;
}
</style>