<script>

import Button from 'primevue/button'

export default {
  props: {
    opciones: {
      type: Array,
      default: []
    },
  },
  components: { Button },
  emits: ['opcionSeleccionada'],
  data() {
    return {
    }
  },
  methods: {
    estaSeleccionada(ruta) {
      return this.$route.fullPath.startsWith(`/${ruta}`)
    },
  },
}

</script>

<template>
  <div class="p-card flex justify-content-center text-center">
    <div>
      <Button v-for="elemento in opciones" :icon="elemento.icono" class="boton-menu-opciones"
        :class="{ 'opcion-seleccionada': estaSeleccionada(elemento.opcion) }" :label="elemento.etiqueta" plain text
        @click="$emit('opcionSeleccionada', elemento.opcion)" />
    </div>
  </div>
</template>

<style scoped>
.boton-menu-opciones {
  box-shadow: none !important;
}

.opcion-seleccionada {
  background-color: #e9ecef !important;
  color: var(--green-600) !important;
  font-weight: bold;
}</style>
