<script>

import { mapState } from 'pinia'
import { usePersonasStore } from '@/stores/personas'
import { estaAutorizado } from '@/js/filtros'
import TabMenu from 'primevue/tabmenu'

export default {
  components: { TabMenu },
  data() {
    return {
      active: 0,
      items: [
        {
          label: 'MODELOS',
          icon: 'pi pi-fw devices-icon',
          route: '/equipos/modelos'
        },
        {
          label: 'INVENTARIO',
          icon: 'pi pi-fw pi-list',
          route: '/equipos/inventario'
        },
      ]
    }
  },
  watch: {
    $route() {
      this.active = this.items.findIndex((item) => this.$route.path === this.$router.resolve(item.route).path)
    }
  },
  computed: {
    ...mapState(usePersonasStore, ['personaLogueada']),
    getOpcionesMenuEquipos() {
      let opciones = []
      if (this.personaLogueada) {
        opciones = this.items.filter(o => estaAutorizado('opcionesMenuEquipos', o.label, this.personaLogueada.perfil))
      }
      return opciones
    }
  },
  mounted() {
    this.active = this.items.findIndex((item) => this.$route.path === this.$router.resolve(item.route).path)
  }
}
</script>

<template>
  <div class="p-card">
    <TabMenu v-model:activeIndex="active" :model="getOpcionesMenuEquipos" class="menu-pestana">
      <template #item="{ label, item, props }">
        <router-link v-if="item.route" v-slot="routerProps" :to="item.route" custom>
          <a :href="routerProps.href" v-bind="props.action" @click="($event) => routerProps.navigate($event)"
            @keydown.enter.space="($event) => routerProps.navigate($event)">
            <div class="elemento-pestana">
              <span v-bind="props.icon" />
              <span v-bind="props.label">{{ label }}</span>
            </div>
          </a>
        </router-link>
      </template>
    </TabMenu>
    <router-view />
  </div>
</template>


<style scoped>
.menu-pestana {
  border-radius: inherit;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: var(--green-600);
  border-color: var(--green-600);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
  box-shadow: none;
}

.elemento-pestana {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.devices-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  content: '';
  -webkit-mask: url(@/assets/devices_icon.svg) no-repeat 50% 50%;
  mask: url(@/assets/devices_icon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: currentColor;
}
</style>