<script>

import { mapActions, mapState } from 'pinia'
import { usePersonasStore } from '@/stores/personas'
import { useEquiposStore } from '@/stores/equipos'

import Listado from '@/components/listado/Listado.vue'
import PanelTitulado from '@/components/PanelTitulado.vue'
import ProgressSpinner from 'primevue/progressspinner'


export default {
 
  components: { Listado, PanelTitulado, ProgressSpinner },
  data() {
    return {
      mostrarFormulario: false,
      enviar: false,
      palabraBuscada: '',
      configuracionDeListado: [
        { clave: 'empleo', titulo: 'Empleo', tipo: 'texto', estilos: 'max-width: 17rem;' },
        { clave: 'nombre', titulo: 'Nombre', tipo: 'texto', estilos: 'max-width: 17rem;' },
        { clave: 'apellidos', titulo: 'Apellidos', tipo: 'texto', estilos: 'max-width: 17rem;' },
        { clave: 'email', titulo: 'Email', tipo: 'texto', estilos: 'max-width: 17rem;' },
        { clave: 'tip', titulo: 'TIP', tipo: 'texto', estilos: 'max-width: 17rem;' },
      ],
      camposDeBusqueda: ['empleo', 'nombre', 'apellidos', 'email', 'tip']
    }
  },
  computed: {
    ...mapState(usePersonasStore, ['listaPersonal', 'loadingPersonasStore']),

    mostrarLista() {
      return (this.listaPersonal.length > 0)
    },
    listaPersonalParaMostrar() {
      let listaPersonalFiltrada = this.listaPersonal

      if (this.palabraBuscada != '') {
        listaPersonalFiltrada = listaPersonalFiltrada.filter(c => {
          for (const clave of this.camposDeBusqueda) {
            if (typeof c[clave] === 'string' || c[clave] instanceof String) {
              if (c[clave].toLowerCase().includes(this.palabraBuscada.toLowerCase())) {
                return true
              }
            }
          }
          return false
        })
      }

      return listaPersonalFiltrada
    }
  },
  methods: {
    ...mapActions(usePersonasStore, ['getPersonal']),
    ...mapActions(useEquiposStore, [ 'setPalabraBuscadaStore']),

    buscar(palabra) {
      this.palabraBuscada = palabra
    },

    redirigirInventario(persona) {
      this.setPalabraBuscadaStore(persona.tip)
      this.$router.push({ name: 'inventario' });
    }
  },
  created() {
    this.getPersonal()
  },
}
</script>

<template>
  <div>

    <PanelTitulado titulo="Listado de usuarios" @search="buscar">
      <ProgressSpinner v-if="loadingPersonasStore" :class="['spinner-6', { 'overlay-spinner': mostrarLista }]" />
      <Listado v-if="mostrarLista" :elementos="listaPersonalParaMostrar" :configuracion="configuracionDeListado"
        :destacable="true" @filaSeleccionada="redirigirInventario" />
    </PanelTitulado>

  </div>
</template>

<style scoped>
.spinner-6 {
  width: 6rem;
  height: 6rem;
  margin-left: calc(50% - 3rem);
}

.overlay-spinner {
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  margin-left: 0;
}
</style>