<template>
  <div class="card">
    <div class="p-menubar p-component footer">
      <div class="col-12">
        <span>&copy; Gatel DIM XLV 2023. Todos los derechos reservados.</span>
      </div>
    </div>
  </div>
</template>

<style scoped>
.footer {
  flex-wrap: wrap;
  text-align: center;
}

.footer-links {
  text-decoration: none;
  color: #495057;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.footer-links:hover {
  background-color: var(--gray-200);
}
</style>