<script>

import { mapActions, mapState } from 'pinia'
import { useUnidadesStore } from '@/stores/unidades'
import { useEquiposStore } from '@/stores/equipos'

import Listado from '@/components/listado/Listado.vue'
import PanelTitulado from '@/components/PanelTitulado.vue'
import ProgressSpinner from 'primevue/progressspinner'


export default {
  components: { Listado, PanelTitulado, ProgressSpinner },
  data() {
    return {
      mostrarFormulario: false,
      enviar: false,
      palabraBuscada: '',
      configuracionDeListado: [
       { clave: 'nombre', titulo: 'Nombre', tipo: 'texto', estilos: 'max-width: 17rem;' },
        { clave: 'codigoUnidad', titulo: 'Código', tipo: 'texto', estilos: 'max-width: 17rem;' },
        { clave: 'correoOficial', titulo: 'Email', tipo: 'texto', estilos: 'max-width: 17rem;' },
        { clave: 'telefono', titulo: 'Teléfono', tipo: 'texto', estilos: 'max-width: 17rem;' }, 
      ],
        camposDeBusqueda: ['nombre', 'codigoUnidad', 'correoOficial', 'telefono']
      }
  },
  computed: {
    ...mapState(useUnidadesStore, ['listaUnidades', 'loadingUnidadesStore']),
    
    mostrarLista() {
      return (this.listaUnidades.length > 0)
    },
    listaUnidadesParaMostrar() {
      let listaUnidadesFiltrada = this.listaUnidades

      if (this.palabraBuscada != '') {
        listaUnidadesFiltrada = listaUnidadesFiltrada.filter(c => {
          for (const clave of this.camposDeBusqueda) {
            if (typeof c[clave] === 'string' || c[clave] instanceof String) {
              if (c[clave].toLowerCase().includes(this.palabraBuscada.toLowerCase())) {
                return true
              }
            }
          }
          return false
        })
      }

      return listaUnidadesFiltrada
    }
  },
  methods: {
    ...mapActions(useUnidadesStore, ['getUnidades']),
    ...mapActions(useEquiposStore, [ 'setPalabraBuscadaStore']),

    buscar(palabra) {
      this.palabraBuscada = palabra
    },
    redirigirInventario(unidad) {
      this.setPalabraBuscadaStore(unidad.codigoUnidad)
      this.$router.push({ name: 'inventario'  })
    }
  },
  created() {
    this.getUnidades()
  },
}
</script>

<template>
  <div>

    <PanelTitulado titulo="Listado de unidades" @search="buscar" >
      <ProgressSpinner v-if="loadingUnidadesStore" :class="['spinner-6', { 'overlay-spinner': mostrarLista }]" />
      <Listado v-if="mostrarLista" :elementos="listaUnidadesParaMostrar" :configuracion="configuracionDeListado"
      :destacable="true" @filaSeleccionada="redirigirInventario"/>
    </PanelTitulado>

  </div>
</template>

<style scoped>
.spinner-6 {
  width: 6rem;
  height: 6rem;
}

.overlay-spinner {
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
}
</style>