<script>

export default {
  props: {
    acciones: {
      tipo: Array,
      default: null
    },
    estilos: String,
  },
  emits: ['accionSeleccionada'],
  data() {
    return {
    }
  },
  methods: {
    seleccionarAccion(accion){
      this.$emit('accionSeleccionada', accion)
    },
    getIcono(accion) {
      let icono

      if (accion == 'editar') {
        icono = 'pi pi-pencil'
      } else if (accion == 'informar') {
        icono = 'pi pi-info-circle'
      } else if (accion == 'borrar') {
        icono = 'pi pi-trash'
      } else if (accion == 'agregar') {
        icono = 'pi pi-plus'
      } else if (accion == 'reportarIncidencia') {
        icono = 'pi pi-wrench'
      }
      return icono
    },
    getMensajeTooltip(accion) {
      let mensaje

      if (accion == 'editar') {
        mensaje = 'Editar'
      } else if (accion == 'informar') {
        mensaje = 'Información'
      } else if (accion == 'borrar') {
        mensaje = 'Borrar'
      } else if (accion == 'agregar') {
        mensaje = 'Alta nuevo equipo'
      } else if (accion == 'reportarIncidencia') {
        mensaje = 'Reportar incidencia'
      }
      return mensaje
    }
  }
}
</script>

<template>
    <div v-for="accion in acciones" v-tooltip.top="{ value: getMensajeTooltip(accion), showDelay: 1000, hideDelay: 300 }" :class="'flex boton-de-accion color-' + accion" @click="seleccionarAccion(accion)"><span :class="getIcono(accion)"></span></div>
</template>

<style scoped>


.boton-de-accion {
  height: 2.357rem;
  width: 2.357rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #6c757d;
}

.boton-de-accion:hover{
  background: #e9ecef;
}

.color-editar:hover {
  color: #495057;
  /* color: #F59E0B; */
}

.color-informar:hover {
  color: #495057;
  /* color: #3B82F6; */
}

.color-borrar:hover {
  color: #EF4444;
}

.color-agregar:hover {
  color: #495057;
  /* color: #22C55E; */
}


</style>