<script>

export default {
  props: {
    titulo: {
      String,
      default: ''
    },
    estilos: String,
    mostrarIcono: Boolean,
    tipoIcono: {
      type: String,
      default: ''
    },
    destacable: Boolean,
  },
  emits: ['cambioFiltro'],
  data() {
    return {
      destacar: false
    }
  },
  methods: {
    click(event){
      this.$emit('cambioFiltro', this.titulo)
    },
  }
}
</script>

<template>
  <div ref="tituloContainer" class="p-3 flex-1 flex flex-nowrap m-auto" :class="{ active: destacar }" @mouseover="destacar = destacable"
      @mouseleave="destacar = false" :style="estilos" @click="click">
    <span>{{ titulo }}</span>
    <slot></slot>
    <i v-if="mostrarIcono" :class="tipoIcono" />
  </div>
</template>

<style scoped>

.active {
  background: #e9ecef;
}

div {
  user-select: none;
}

i {
  color: #6c757d;
  margin-left: 0.5rem;
}

</style>