<script>

import CampoTitulado from './CampoTitulado.vue'
import CampoAccion from './CampoAccion.vue'
import { fechaToLocaleDateString } from '@/js/utils'

export default {
  props: {
    configuracion: [Object],
    elemento: Object,
    destacable: {
      type: Boolean,
      default: true
    },
    umbralResponsivo: {
      type: Number,
      default: 800
    },
    acciones: {
      type: Array,
      default: null
    },
    umbralDeEstado: {
      type: Number,
      default: 10
    }
  },
  components: { CampoTitulado, CampoAccion },
  emits: ['filaSeleccionada', 'accionSeleccionada'],
  data() {
    return {
      granFormato: true,
      indices: [0],
      destacar: false,
      colorDeEtiqueta: ['p-tag-success', 'p-tag-warning', 'p-tag-danger', 'p-tag-info']
    }
  },
  computed: {
    indiceCampoImagen() {
      return this.configuracion.findIndex((i) => i.tipo == 'imagen')
    },
    camposImprimibles() {
      return this.configuracion.filter((c) => ((c.tipo == 'texto') || (c.tipo == 'estado') || (c.tipo == 'fecha')))
    }
  },
  methods: {
    seleccionarFila() {
      this.$emit('filaSeleccionada', this.elemento)
    },
    eventoRedimensionar() {
      this.granFormato = window.innerWidth >= this.umbralResponsivo
    },
    getTitulo(configItem) {
      let textoMostrado = ''
      if ((configItem.tipo == 'texto') || (configItem.tipo == 'estado')) {
        textoMostrado = this.elemento[configItem.clave]
      } else if (configItem.tipo == 'fecha') {
        textoMostrado = fechaToLocaleDateString(this.elemento[configItem.clave])
      }
      return textoMostrado
    },
    getEtiqueta(configItem) {
      let etiqueta = {}

      etiqueta.valor = this.elemento[configItem.clave]

      if (etiqueta.valor == 0 || etiqueta.valor == 'EXTRAVIO' || etiqueta.valor == "AVERIA") {
        etiqueta.color = 'p-tag-danger'
      } else if (etiqueta.valor < this.umbralDeEstado || etiqueta.valor == 'SOLICITUD' || etiqueta.valor == 'CONFIGURACION' || etiqueta.valor == 'ASIGNADA') {
        etiqueta.color = 'p-tag-warning'
      } else if (etiqueta.valor == 'RESUELTA') {
        etiqueta.color = 'p-tag-success'
      } else if (etiqueta.valor == 'CERRADA') {
          etiqueta.color = 'p-tag-gris'
      } else if (etiqueta.valor == 'SOLICITUD' || etiqueta.valor == 'CONFIGURACION'  || etiqueta.valor == 'NUEVA') {
        etiqueta.color = 'p-tag-info'
      } else {
        etiqueta.color = 'p-tag-success'
      }

      return etiqueta

    },
    seleccionarAccion(accion) {
      this.$emit('accionSeleccionada', accion, this.elemento)
    },
  },
  created() {

    for (let i = 2; i < this.configuracion.length; i++) {
      this.indices.push(i)
    }

    this.eventoRedimensionar()

    window.addEventListener("resize", this.eventoRedimensionar)
  },
  destroyed() {
    window.removeEventListener("resize", this.eventoRedimensionar)
  }
}
</script>

<template>
  <div class="list-item" :class="{ active: destacar }" @mouseover="destacar = destacable" @mouseleave="destacar = false"
    @click="seleccionarFila">
    <div v-if="granFormato" class="flex">
      <CampoTitulado v-for="item in configuracion" ref="elementoRef" :estilos="item.estilos + 'padding: 0.5rem !important;'"
        :mostrarIcono="false" :destacable="false">
        <span v-if="item.tipo == 'estado'" class="p-tag p-component status-tag" :class="getEtiqueta(item).color">
          <span class="p-tag-value">{{ getEtiqueta(item).valor }}</span>
        </span>
        <img v-else-if="item.tipo == 'imagen'" :src="elemento[item.clave]" class="small-pic" alt="Imagen no disponible" />
        <CampoAccion v-else-if="item.tipo == 'acciones'" @accionSeleccionada="seleccionarAccion" :acciones="acciones">
        </CampoAccion>
        <span v-else>{{ getTitulo(item) }}</span>
      </CampoTitulado>
    </div>

    <!-- TODO -->
    <div v-else class="flex-wrap flex">
      <div :class="(indiceCampoImagen >= 0) ? 'col-9' : 'col-12'">
        <ul class="padding-ul">
          <li v-for="i in camposImprimibles">
            <span class="bold-text">{{ i.titulo }}:</span>
            <span class="ml-2"> {{ getTitulo(i) }}</span>
            
          </li>
        </ul>
      </div>
      <div v-if="indiceCampoImagen >= 0" class="col-3 contenedor-imagen">
        <div class="flex">
          <img :src="elemento[configuracion[indiceCampoImagen].clave]" class="clase-imagen" alt="Imagen no disponible" />
        </div>
      </div>
      <div class="col-12 flex justify-content-evenly">
        <CampoAccion v-if="true" @accionSeleccionada="seleccionarAccion" :acciones="acciones" />
      </div>
    </div>
  </div>
</template>

<style scoped>
.active {
  background-color: #e9ecef !important;
}

.list-item {
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  color: #495057;
  background-color: white;
}

.bold-text {
  color: #495057;
  font-weight: 600;
}

.padding-ul {
  padding-left: 1.5rem;
}

.contenedor-imagen {
  align-items: center;
  display: flex;
  justify-content: center;
}

.clase-imagen {
  max-height: 5rem;
  max-width: 100%;
}

.small-pic {
  max-width: 3rem;
  max-height: 3rem;
}

.p-tag-gris {
  background-color: grey; 
  }
</style>