<script>
import CampoTitulado from './CampoTitulado.vue'

export default {
  props: {
    configuracion: [Object],
    mostrarIcono: {
      type: Boolean,
      default: true
    },
    ordenable: {
      type: Boolean,
      default: true
    },
    umbralResponsivo: {
      type: Number,
      default: 800
    }
  },
  components: { CampoTitulado },
  emits: ['cambioDeOrden'],
  data() {
    return {
      ordenes: [],
      ordenesActivos: [],
      ordenSeleccionado: null,
      ordenPlaceholder: 'Ordenar',
      tiposDeIcono: ['pi pi-sort-alt', 'pi pi-sort-amount-down-alt', 'pi pi-sort-amount-up-alt'],
      indicesDeIconos: [],
      granFormato: true,
    }
  },
  methods: {
    esOrdenable(tipo) {
      return (tipo == 'texto') || (tipo == 'estado') || (tipo == 'fecha')
    },
    esDestacable(tipo) {
      return this.ordenable && this.esOrdenable(tipo)
    },
    tieneIcono(tipo) {
      return this.mostrarIcono && (!this.ordenable || this.esOrdenable(tipo))
    },
    cambiarOrden(index, requiredIndexIcon) {

        for (const key in this.indicesDeIconos) {
          if (key != index) {
            this.indicesDeIconos[key] = 0
          } else {
            if ((requiredIndexIcon != undefined) || (requiredIndexIcon != null)) {
              this.indicesDeIconos[key] = requiredIndexIcon
            } else {
              this.indicesDeIconos[key] = (++this.indicesDeIconos[key] >= this.tiposDeIcono.length) ? 1 : this.indicesDeIconos[key]
            }
          }
        }

        this.ordenSeleccionado = this.ordenes[index * 2 + this.indicesDeIconos[index] - 1]
        this.ordenPlaceholder = this.ordenSeleccionado

        this.$emit('cambioDeOrden', this.configuracion[index].clave, this.indicesDeIconos[index] == 2)
    },
    cambiarSelector(opcion) {
      let index = this.ordenes.findIndex(f => f == opcion)
      let iconIndex = (index % 2) + 1
      index = Math.trunc(index / 2)

      this.cambiarOrden(index, iconIndex)
    },
    eventoRedimensionar() {
      this.granFormato = window.innerWidth >= this.umbralResponsivo
    }
  },
  created() {
    this.configuracion.forEach(t => {
      let orden = [t.titulo + ' asc.', t.titulo + ' desc.']
      this.indicesDeIconos.push(0)
      this.ordenes.push(...orden)
      if (this.esOrdenable(t.tipo)) {
        this.ordenesActivos.push(...orden)
      }
    })

    this.eventoRedimensionar()

    window.addEventListener("resize", this.eventoRedimensionar)

  },
  destroyed() {
    window.removeEventListener("resize", this.eventoRedimensionar)
  },
}
</script>

<template>
  <div v-if="granFormato" class="header-item flex">
    <CampoTitulado v-for="(titulo, index) in configuracion" ref="configuracionRef" :titulo="titulo.titulo" :estilos="titulo.estilos"
      :mostrarIcono="tieneIcono(titulo.tipo)" :tipoIcono="tiposDeIcono[indicesDeIconos[index]]"
      :destacable="esDestacable(titulo.tipo)" @cambioFiltro="cambiarOrden(index)" />
  </div>
  <div v-if="!granFormato && ordenable" class="header-item flex p-2 justify-content-end">
    <Dropdown v-model="ordenSeleccionado" :options="ordenesActivos" :placeholder="ordenPlaceholder" class="w-14rem"
      @update:modelValue="cambiarSelector" />
  </div>
</template>

<style scoped>
.header-item {
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  color: #495057;
  font-weight: 600;
  background: #f8f9fa;
}
</style>