<script>

import EncabezadoLista from './EncabezadoLista.vue'
import ElementoFila from './ElementoFila.vue'

export default {
  props: {
    configuracion: [Object],
    elementos: {
      type: Array,
      default: []
    },
    destacable: {
      type: Boolean,
      default: true
    },
    paginable: {
      type: Boolean,
      default: true
    },
    ordenable: {
      type: Boolean,
      default: true
    },
    acciones: {
      type: Array,
      default: null
    },
  },
  components: { EncabezadoLista, ElementoFila },
  emits: ['filaSeleccionada', 'accionSeleccionada'],
  data() {
    return {
      elementosMostrados: null,
      primerElemento: 0,
      numeroFilas: 10,
      reglaDeOrdenacion: {},
    }
  },
  computed: {
    page() {
      this.elementosMostrados = [...this.elementos]

      if (this.reglaDeOrdenacion.rule) {
        this.ordenarDatos()
      }

      if (this.paginable) {
        let last = Math.min((this.primerElemento + this.numeroFilas), this.elementosMostrados.length)
        this.elementosMostrados = this.elementosMostrados.slice(this.primerElemento, last)
      }

      return this.elementosMostrados
    },
    esTexto() {
      return (typeof this.elementosMostrados[0][this.reglaDeOrdenacion.rule] == 'string') ||
        (this.elementosMostrados[0][this.reglaDeOrdenacion.rule] instanceof String) ||
        (this.configuracion.find(e => e.clave == this.reglaDeOrdenacion.rule).tipo == 'texto')

    },
    getUmbralResponsivo() {
      return this.configuracion.length <= 5 ? 800 : 900
    }
  },
  methods: {
    filaSeleccionada(event) {
      this.$emit('filaSeleccionada', event)
    },
    seleccionarAccion(accion, elemento) {
      this.$emit('accionSeleccionada', accion, elemento)
    },
    cambioDeOrden(rule, reverse) {
      this.reglaDeOrdenacion = { rule, reverse }
    },
    comparaConNulos(a, b) {
      const x = a ? a.valueOf() : ""
      const y = b ? b.valueOf() : ""
      return x.localeCompare(y)
    },
    ordenarDatos() {
      if (this.elementosMostrados.length > 1) {
        if (this.esTexto) {
          this.elementosMostrados.sort((a, b) => {
            let result = this.comparaConNulos(a[this.reglaDeOrdenacion.rule], b[this.reglaDeOrdenacion.rule])
            return this.reglaDeOrdenacion.reverse ? -result : result
          })
        } else if ((typeof this.elementosMostrados[0][this.reglaDeOrdenacion.rule] == 'number') ||
                  (this.elementosMostrados[0][this.reglaDeOrdenacion.rule] instanceof Date)) {
          this.elementosMostrados.sort((a, b) => {
            let result = a[this.reglaDeOrdenacion.rule] - b[this.reglaDeOrdenacion.rule]
            return this.reglaDeOrdenacion.reverse ? -result : result
          })
        }
      }
    },
  },
  created() {
    this.elementosMostrados = this.elementos
  },
}
</script>

<template>
  <div>
    <EncabezadoLista :configuracion="configuracion" :mostrarIcono="ordenable" :ordenable="ordenable"
      :umbralResponsivo="getUmbralResponsivo" @cambioDeOrden="cambioDeOrden" />
    <div v-if="page.length == 0" class="highlighted">¡No hay información para mostrar!</div>
    <ElementoFila v-for="elemento in page" :configuracion="configuracion" :elemento="elemento" :destacable="destacable"
      :umbralResponsivo="getUmbralResponsivo" :acciones="acciones" @filaSeleccionada="filaSeleccionada"
      @accion-seleccionada="seleccionarAccion" />
    <div v-if="paginable" class="p-panel-footer gap-2 block">
      <Paginator v-model:first="primerElemento" :rows="numeroFilas" :totalRecords="elementos.length"
        :rowsPerPageOptions="[10, 20, 30]" @update:rows="(r) => numeroFilas = r"></Paginator>
    </div>
  </div>
</template>

<style scoped>
.highlighted {
  color: #495057;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 1rem;
}
</style>