// Import all of Bootstrap's CSS
// @import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  background-color: grey;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  max-width: 1320px;
}

@media screen and (max-width: 991px) and (min-width: 768px) {

  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {

  :root {
    font-size: 14px;
  }
}