<script>

import { mapActions, mapState } from 'pinia'
import { usePersonasStore } from '@/stores/personas'
import { useModelosStore } from '@/stores/modelos'
import { useEquiposStore } from '@/stores/equipos'
import { useIncidenciasStore } from '@/stores/incidencias'
import { useToast } from 'primevue/usetoast'
import Toast from 'primevue/toast'
import BarraNavegacion from '@/components/BarraNavegacion.vue'
import PiePagina from '@/components/PiePagina.vue'

export default {
  components: { BarraNavegacion, PiePagina, Toast },
  data() {
    return {
    }
  },
  watch: {
    resultadoPeticionPersonas(nuevoEstado) {
      this.gestionarResultadoPeticiones(nuevoEstado)
    },
    resultadoPeticionModelos(nuevoEstado) {
      this.gestionarResultadoPeticiones(nuevoEstado)
    },
    resultadoPeticionEquipos(nuevoEstado) {
      this.gestionarResultadoPeticiones(nuevoEstado)
    },
    resultadoPeticionIncidencias(nuevoEstado) {
      this.gestionarResultadoPeticiones(nuevoEstado)
    },
  },
  mounted() {
  },
  computed: {
    ...mapState(usePersonasStore, ['resultadoPeticionPersonas']),
    ...mapState(useModelosStore, ['resultadoPeticionModelos']),
    ...mapState(useEquiposStore, ['resultadoPeticionEquipos']),
    ...mapState(useIncidenciasStore, ['resultadoPeticionIncidencias']),
  },
  methods: {
    ...mapActions(usePersonasStore, ['logoutPersona']),
    gestionarResultadoPeticiones(resultado) {
      if (resultado) {

        if (resultado.codigoEstado == '401') {
          this.logoutPersona()
          if (this.$router.currentRoute.value.name != 'login') {
            this.$router.push({ name: 'login' })
          }
        } else if ((resultado.codigoEstado == '200') && (this.$router.currentRoute.value.name == 'login')) {
          this.$router.push({ name: 'home' })
        }
        
        if (resultado.mensaje != null) {
          this.$toast.add({
            severity: resultado.severidad, summary: resultado.mensaje, life: resultado.duracion
          })
        }
      }
    },
  },
}


</script>

<template>

    <Toast />

    <BarraNavegacion class="mt-1 mb-3" />

    <div class="mb-3">
      <router-view></router-view>
      <!-- <router-view v-slot="{ Component, route }">
      <transition name="fade">
        <component :is="Component" :key="route.path" />
      </transition>
    </router-view> -->
    </div>

    <PiePagina class="mt-auto mb-1" />

</template>

